<!DOCTYPE html>
<html class="no-js" lang="ZXX">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Site Title -->
		<title>Immolax - Real Estate Services HTML5 Template</title>
		
		<!-- Fav Icon -->
		<link rel="icon" href="img/favicon.png">
		
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Cube Portfolio -->
		<link rel="stylesheet" href="css/cube-portfolio.min.css">
		<!-- Maginific Popup -->
		<link rel="stylesheet" href="css/maginific-popup.min.css">
		<!-- Jquery UI -->
		<link rel="stylesheet" href="css/jquery-ui.min.css">
		<!-- Animate CSS -->
		<link rel="stylesheet" href="css/animate.min.css">
		<!-- Slickslider CSS -->
		<link rel="stylesheet" href="css/slickslider.min.css">
		<!-- Bx Slider CSS -->
		<link rel="stylesheet" href="css/bx-slider.min.css">
		<!-- AOS CSS -->
		<link rel="stylesheet" href="css/aos.min.css">
		<!-- Nice Select -->
		<link rel="stylesheet" href="css/nice-select.min.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="css/datepicker.css">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="css/all.min.css">
		<link rel="stylesheet" href="css/fontawesome.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
	</head>

	<body>
	<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	
	<!-- Preloader -->
    <div class="preloader">
        <div class="loading">
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
        </div>
    </div>
    <!-- End Preloader -->
	
	<!-- Mobile Menu Modal -->
    <div class="modal offcanvas-modal fade" id="offcanvas-modal">
        <div class="modal-dialog offcanvas-dialog">
            <div class="modal-content">
                <div class="modal-header offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- offcanvas-form-wrap start -->
                <div class="offcanvas-form-wrap">
                    <form action="#" class="offcanvas-form position-relative">
                        <input class="form-control" type="text" placeholder="search key ... " />
                        <button class="theme-btn">Search</button>
                    </form>
                </div>
                <!-- offcanvas-form-wrap end -->
                <!-- offcanvas-menu start -->
                <nav id="offcanvas-menu" class="offcanvas-menu">
                    <ul class="list-none">
                        <li class="menu-arrow"><a href="#">Home</a>
							<ul class="sub-menu list-none">
								<li class="active"><a href="index.html">Homepage V1</a></li>
								<li><a href="index2.html">Homepage V2</a></li>
							</ul>
						</li>
                        <li><a href="about-us.html">About</a></li>
						<li class="menu-arrow"><a href="#">Properties</a>
							<ul class="sub-menu">
								<li><a href="property-grid.html">Property Grid</a></li>
								<li><a href="property-list.html">Property List</a></li>
								<li><a href="property-details.html">Property Details</a></li>
							</ul>
						</li>
						<li class="menu-arrow"><a href="#">Agents</a>
							<ul class="sub-menu">
								<li><a href="agents-grid.html">Agents Grid</a></li>
								<li><a href="agents-list.html">Agents List</a></li>
								<li><a href="agents-details.html">Agents Details</a></li>
							</ul>
						</li>
                       <li class="menu-arrow"><a href="#">Blog</a>
							<ul class="sub-menu">
								<li><a href="blog-list.html">Blog List</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li>
                        <li class="menu-arrow"><a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="login.html">Log In</a></li>
								<li><a href="signup.html">Sign Up</a></li>
								<li><a href="mail-success.html">Mail Success</a></li>
							</ul>
						</li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="offcanvas-social">
						<h4 class="follow-title">Follow Us:</h4>
                        <ul class="list-none">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </nav>
                <!-- offcanvas-menu end -->
            </div>
        </div>
    </div>
	<!-- End Mobile Menu Modal -->						
	
	<!-- Search Popup -->
	<div class="popup-search-box d-none d-lg-block">
        <button class="searchClose border-theme text-theme"><i class="fa fa-times"></i></button>
        <form action="#">
            <input type="text" class="border-theme" placeholder="What are you looking for" /> <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
	<!-- End Search Popup -->
		
	<!-- Header Area -->
	<header class="header-area" id="active-sticky">
		<div class="container-fluid">
			<div class="header-inner">
				<div class="row g-0 justify-content-between align-items-center">
					<div class="col-auto">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src="img/logo.png" alt="#"></a>
						</div>
					</div>
					<div class="col-auto">
						<div class="row gx-60 justify-content-between align-items-center">
							<button type="button" class="offcanvas-toggler" data-bs-toggle="modal" data-bs-target="#offcanvas-modal">
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
							</button>
							<div class="col-auto">
								<!-- Header Details -->
								<div class="header-details style-1">
									<ul class="header-details-inner list-none">
										<li class="search-list"><a href="#" class="searchBoxTggler"><i class="fa fa-search"></i></a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="signup.html">Sign Up</a></li>
									</ul>
								</div>
							</div>
							<div class="col-auto">
								<div class="header-btn">
									<a href="contact.html" class="theme-btn">Submit Property</a>
								</div>
							</div>
							<div class="col-auto">
								<div class="main-menu">
									<div class="navbar">
										<div class="nav-item">
											<!-- Main Menu -->
											<ul class="nav-menu navigation list-none">
												<li class="menu-item-has-children"><a href="#">Home</a>
													<ul class="sub-menu">
														<li><a href="index.html">Homepage V1</a></li>
														<li><a href="index2.html">Homepage V2</a></li>
													</ul>
												</li>
												<li class="active"><a href="about-us.html">About</a></li>
												<li class="menu-item-has-children"><a href="#">Properties</a>
													<ul class="sub-menu">
														<li><a href="property-grid.html">Property Grid</a></li>
														<li><a href="property-list.html">Property List</a></li>
														<li><a href="property-details.html">Property Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Agents</a>
													<ul class="sub-menu">
														<li><a href="agents-grid.html">Agents Grid</a></li>
														<li><a href="agents-list.html">Agents List</a></li>
														<li><a href="agents-details.html">Agents Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li><a href="blog-list.html">Blog List</a></li>
														<li><a href="blog-details.html">Blog Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Pages</a>
													<ul class="sub-menu">
														<li><a href="login.html">Log In</a></li>
														<li><a href="signup.html">Sign Up</a></li>
														<li><a href="mail-success.html">Mail Success</a></li>
													</ul>
												</li>
												<li><a href="contact.html">Contact</a></li>
											</ul>
											<!-- End Main Menu -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>	
	<!-- End Header Area -->
	
	<!-- Breadcrumbs Area -->
	<section class="breadcrumbs-area" style="background-image:url('img/breadcrumbs-bg.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Breadcrumbs Content -->
					<div class="breadcrumbs-content">
						<h1 class="b-content-title m-0">About Us</h1>
						<ul class="breadcrumbs-menu list-none">
							<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
							<li><a href="about-us.html">About Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumbs Area -->
	
	<!-- About Us Area -->
	<section class="aboutus-area section-padding">
		<div class="container">
			<div class="row g-0 align-items-center">
				<div class="col-lg-6 col-12" data-aos="fade-right" data-aos-delay="200">	
					<!-- About Image -->
					<div class="aboutus-img">
						<img src="img/about-img.jpg" alt="#">
						<div class="about-years">
							<h1 class="a-years-title"><span class="counter">25</span>+</h1>
							<p class="m-0">Years Experience</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12" data-aos="fade-left" data-aos-delay="300">
					<!-- About Content -->
					<div class="aboutus-content">
						<div class="about-top-content">
							<span class="small-title">About Us</span>
							<h2 class="about-title hs-1">Super Delux Mansion of <span class="theme-color">GearHouse.Inc</span></h2>
							<p  class="mb-0">Completely matrix cost effective core competencies via prospective architeac tures. Efficiently integrate cross-media mindshare vis-a-vis value-added e-commerce generate quality web-readiness.</p>
						</div>
						<!-- About Us Contact -->
						<div class="aboutus-contact">
							<div class="s-aboutus-contact">
								<i class="fa fa-phone-volume"></i>
								<div class="aboutus-c-content">
									<span>Call Us</span>
									<p class="m-0">(126) 2598 2568</p>
								</div>
							</div>
							<div class="s-aboutus-contact">
								<i class="fa fa-envelope"></i>
								<div class="aboutus-c-content">
									<span>Mail Us</span>
									<p class="m-0">info@gear.com</p>
								</div>
							</div>
						</div>
						<!-- About Us Author -->
						<div class="about-author">
							<img src="img/about/04.png" alt="#">
							<div class="a-author-content">
								<p class="a-author-title"><a href="agents-details.html">David Smith</a></p>
								<span>Co-Founder</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Us Area -->
	
	<!-- Mindset Area -->
	<section class="mindset-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
					<div class="section-title">
						<span class="sub-heading">Find Out</span>
						<h2 class="heading-title">Our Mindset</h2>
						<p>Dramatically harness real-time portals whereas distinctive services. Conveniently seize standardized best practices.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="mindset-slider" data-aos="fade-up" data-aos-delay="200">
						<!-- Single Mindset -->
						<div class="single-mindset">
							<div class="mindset-icon">
								<i class=" fa fa-trophy"></i>
							</div>
							<div class="s-mindset-content">
								<h3 class="mindset-c-title">Our Mission</h3>
								<p class="m-0">Professionally optimize efficient leadership whereas user-centric strategic theme area</p>
							</div>
						</div>
						<!-- Single Mindset -->
						<div class="single-mindset">
							<div class="mindset-icon">
								<i class=" fa fa-eye"></i>
							</div>
							<div class="s-mindset-content">
								<h3 class="mindset-c-title">Our Vision</h3>
								<p class="m-0">Professionally optimize efficient leadership whereas user-centric strategic theme area</p>
							</div>
						</div>
						<!-- Single Mindset -->
						<div class="single-mindset">
							<div class="mindset-icon">
								<i class=" fa fa-crosshairs"></i>
							</div>
							<div class="s-mindset-content">
								<h3 class="mindset-c-title">Our Goal</h3>
								<p class="m-0">Professionally optimize efficient leadership whereas user-centric strategic theme area</p>
							</div>
						</div>
						<!-- Single Mindset -->
						<div class="single-mindset">
							<div class="mindset-icon">
								<i class=" fa fa-trophy"></i>
							</div>
							<div class="s-mindset-content">
								<h3 class="mindset-c-title">Our Mission</h3>
								<p class="m-0">Professionally optimize efficient leadership whereas user-centric strategic theme area</p>
							</div>
						</div>
						<!-- Single Mindset -->
						<div class="single-mindset">
							<div class="mindset-icon">
								<i class=" fa fa-eye"></i>
							</div>
							<div class="s-mindset-content">
								<h3 class="mindset-c-title">Our Vision</h3>
								<p class="m-0">Professionally optimize efficient leadership whereas user-centric strategic theme area</p>
							</div>
						</div>
						<!-- Single Mindset -->
						<div class="single-mindset">
							<div class="mindset-icon">
								<i class=" fa fa-crosshairs"></i>
							</div>
							<div class="s-mindset-content">
								<h3 class="mindset-c-title">Our Goal</h3>
								<p class="m-0">Professionally optimize efficient leadership whereas user-centric strategic theme area</p>
							</div>
						</div>
						<!-- End Single Mindset -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Mindset Area -->
	
	<!-- Faq Area -->
	<section class="testimonials faq-area section" style="background:#F7F7F7">
		<div class="testimonial-video" style="background-image:url(img/testimonial/testimonial-bg.jpg)">
			<div class="video-main">
				<!-- Promo-Video -->
				<div class="promo-video">
					<div class="waves-block">
						<div class="waves wave-1"></div>
						<div class="waves wave-2"></div>
						<div class="waves wave-3"></div>
					</div>
				</div>
				<a href="https://www.youtube.com/watch?v=BqI0Q7e4kbk" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
			</div>
		</div>
		<div class="container">
			<div class="row g-0">
				<div class="col-lg-6 offset-lg-6 col-12" data-aos="fade-left" data-aos-delay="200">
					<!-- Faq Inner -->
					<div class="faq-inner p-top-100 p-btm-100">
						<div class="faq-top-content">
							<span class="small-title">Q&A Section</span>
							<h1 class="p-title m-0">Why Choose Us</h1>
						</div>
						<div class="faq-main-content">
							<div class="accordion" id="accordionExample">
								<!-- Single Faq  -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
									  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<span>Dynamically impact client-focused synergy?</span>
									  </button>
									</h2>
									<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- Single Faq  -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingTwo">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<span>What is Gear House real estate?</span>
										</button>
									</h2>
									<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- Single Faq  -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingThree">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											<span>What is the meaning of real in real estate?</span>
										</button>
									</h2>
									<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- Single Faq  -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingFour">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											<span>How Can We Start a Project?</span>
										</button>
									</h2>
									<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- End Single Faq  -->
							</div>
						</div>
					</div>
					<!-- End Faq Inner -->
				</div>
			</div>
		</div>
	</section>	
	<!-- End Faq Area -->
	
	<!-- Agent Area -->
	<section class="agent-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
					<div class="section-title">
						<span class="sub-heading">Members</span>
						<h2 class="heading-title">Property Agents</h2>
						<p>Dramatically harness real-time portals whereas distinctive services. Conveniently seize standardized best practices.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="agents-slider" data-aos="fade-up" data-aos-delay="200">
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/01.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">David Smith</a></h3>
								<p class="theme-color">Co-Founder</p>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/02.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">Wille Garmi</a></h3>
								<p class="theme-color">Author</p>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/03.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">David Smith</a></h3>
								<p class="theme-color">Co-Founder</p>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/04.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">Wille Garmi</a></h3>
								<p class="theme-color">Author</p>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/05.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">Joe Bieden</a></h3>
								<p class="theme-color">Co-Founder</p>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/06.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">Donald Trump</a></h3>
								<p class="theme-color">Author</p>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/07.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">Komla Haris</a></h3>
								<p class="theme-color">Co-Founder</p>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent">
							<div class="agent-head">
								<div class="agent-img">
									<img src="img/agent/08.png" alt="#">
								</div>
								<div class="agent-social">
									<a class="plus"><i class="fa fa-plus"></i></a>
									<ul class="agent-social-hover list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="agent-content">
								<h3 class="agent-title hs-4"><a href="agents-details.html">Barak Obama</a></h3>
								<p class="theme-color">Author</p>
							</div>
						</div>
						<!-- End Single Agent -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Agent Area -->
	
	<!-- Footer Area -->
	<footer class="footer-area">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Footer Inner -->
						<div class="footer-card-inner">
							<div class="row">
								<div class="col-lg-4 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">About Us</h3>
										<p class="mb-0">Corporate leadership skills through installed base niches. Phosfluo rescently onceptualize integrated models whereas multidisciplinary web services offer limited</p>
										<ul class="footer-social list-none">
											<li class="active"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget f-services-widget">
										<h3 class="widget_title">Services</h3>
										<ul class="footer-services list-none">
											<li><a href="index.html">Home</a></li>
											<li><a href="about-us.html">About</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="property-grid.html">Portfolio</a></li>
											<li><a href="blog-list.html">Blog</a></li>
											<li><a href="blog-details.html">News</a></li>
											<li><a href="agents-list.html">Team</a></li>
											<li><a href="property-list.html">Property</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="signup.html">Sign Up</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">	
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">News Feed</h3>
										<div class="f-news-feed">
											<img src="img/feed-1.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="blog-list.html"><i class="fa fa-clock"></i>10 June, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">Losing never felt so good energy everything</a></p>
											</div>
										</div>
										<div class="f-news-feed">
											<img src="img/feed-2.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="blog-list.html"><i class="fa fa-clock"></i>4 May, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">5 Essential Steps for Buying an Investment</a></p>
											</div>
										</div>
									</div>
									<!-- End Single Widget -->
								</div>
							</div>
						</div>
						<!-- End Footer Inner -->
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p class="mb-0">© 2021 <a href="index.html">Immolax</a> By <a href="https://themeforest.net/user/vecuro">Vecuro</a>. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>  
	<!-- End Footer Area -->

	<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>

	<!-- Jquery JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Maginific Popup JS -->
	<script src="js/magnific-popup.min.js"></script>
	<!-- Aos JS -->
	<script src="js/aos.min.js"></script>
	<!-- Cube Portfolio JS -->
	<script src="js/cube-portfolio.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.min.js"></script>
	<!-- Slickslider JS -->
	<script src="js/slickslider.min.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Bx Slider JS -->
	<script src="js/bx-slider.min.js"></script>
	<!-- Nice Select JS -->
	<script src="js/nice-select.min.js"></script>
	<!-- Datepicker JS -->
	<script src="js/datepicker.js"></script>
	<!-- Main JS -->
	<script src="js/active.js"></script>
	
	</body>
</html>