<!DOCTYPE html>
<html class="no-js" lang="ZXX">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Site Title -->
		<title>Immolax - Real Estate Services HTML5 Template</title>
		
		<!-- Fav Icon -->
		<link rel="icon" href="img/favicon.png">
		
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Cube Portfolio -->
		<link rel="stylesheet" href="css/cube-portfolio.min.css">
		<!-- Maginific Popup -->
		<link rel="stylesheet" href="css/maginific-popup.min.css">
		<!-- Jquery UI -->
		<link rel="stylesheet" href="css/jquery-ui.min.css">
		<!-- Animate CSS -->
		<link rel="stylesheet" href="css/animate.min.css">
		<!-- Slickslider CSS -->
		<link rel="stylesheet" href="css/slickslider.min.css">
		<!-- Bx Slider CSS -->
		<link rel="stylesheet" href="css/bx-slider.min.css">
		<!-- AOS CSS -->
		<link rel="stylesheet" href="css/aos.min.css">
		<!-- Nice Select -->
		<link rel="stylesheet" href="css/nice-select.min.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="css/datepicker.css">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="css/all.min.css">
		<link rel="stylesheet" href="css/fontawesome.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
	</head>

	<body>
	<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	
	<!-- Preloader -->
    <div class="preloader">
        <div class="loading">
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
        </div>
    </div>
    <!-- End Preloader -->
	
	<!-- Mobile Menu Modal -->
    <div class="modal offcanvas-modal fade" id="offcanvas-modal">
        <div class="modal-dialog offcanvas-dialog">
            <div class="modal-content">
                <div class="modal-header offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- offcanvas-form-wrap start -->
                <div class="offcanvas-form-wrap">
                    <form action="#" class="offcanvas-form position-relative">
                        <input class="form-control" type="text" placeholder="search key ... " />
                        <button class="theme-btn">Search</button>
                    </form>
                </div>
                <!-- offcanvas-form-wrap end -->
                <!-- offcanvas-menu start -->
                <nav id="offcanvas-menu" class="offcanvas-menu">
                    <ul class="list-none">
                        <li class="menu-arrow"><a href="#">Home</a>
							<ul class="sub-menu list-none">
								<li class="active"><a href="index.html">Homepage V1</a></li>
								<li><a href="index2.html">Homepage V2</a></li>
							</ul>
						</li>
                        <li><a href="about-us.html">About</a></li>
						<li class="menu-arrow"><a href="#">Properties</a>
							<ul class="sub-menu">
								<li><a href="property-grid.html">Property Grid</a></li>
								<li><a href="property-list.html">Property List</a></li>
								<li><a href="property-details.html">Property Details</a></li>
							</ul>
						</li>
						<li class="menu-arrow"><a href="#">Agents</a>
							<ul class="sub-menu">
								<li><a href="agents-grid.html">Agents Grid</a></li>
								<li><a href="agents-list.html">Agents List</a></li>
								<li><a href="agents-details.html">Agents Details</a></li>
							</ul>
						</li>
                       <li class="menu-arrow"><a href="#">Blog</a>
							<ul class="sub-menu">
								<li><a href="blog-list.html">Blog List</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li>
                        <li class="menu-arrow"><a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="login.html">Log In</a></li>
								<li><a href="signup.html">Sign Up</a></li>
								<li><a href="mail-success.html">Mail Success</a></li>
							</ul>
						</li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="offcanvas-social">
						<h4 class="follow-title">Follow Us:</h4>
                        <ul class="list-none">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </nav>
                <!-- offcanvas-menu end -->
            </div>
        </div>
    </div>
	<!-- End Mobile Menu Modal -->						
	
	<!-- Search Popup -->
	<div class="popup-search-box d-none d-lg-block">
        <button class="searchClose border-theme text-theme"><i class="fa fa-times"></i></button>
        <form action="#">
            <input type="text" class="border-theme" placeholder="What are you looking for" /> <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
	<!-- End Search Popup -->
		
	<!-- Header Area -->
	<header class="header-area" id="active-sticky">
		<div class="container-fluid">
			<div class="header-inner">
				<div class="row g-0 justify-content-between align-items-center">
					<div class="col-auto">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src="img/logo.png" alt="#"></a>
						</div>
					</div>
					<div class="col-auto">
						<div class="row gx-60 justify-content-between align-items-center">
							<button type="button" class="offcanvas-toggler" data-bs-toggle="modal" data-bs-target="#offcanvas-modal">
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
							</button>
							<div class="col-auto">
								<!-- Header Details -->
								<div class="header-details style-1">
									<ul class="header-details-inner list-none">
										<li class="search-list"><a href="#" class="searchBoxTggler"><i class="fa fa-search"></i></a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="signup.html">Sign Up</a></li>
									</ul>
								</div>
							</div>
							<div class="col-auto">
								<div class="header-btn">
									<a href="contact.html" class="theme-btn">Submit Property</a>
								</div>
							</div>
							<div class="col-auto">
								<div class="main-menu">
									<div class="navbar">
										<div class="nav-item">
											<!-- Main Menu -->
											<ul class="nav-menu navigation list-none">
												<li class="menu-item-has-children"><a href="#">Home</a>
													<ul class="sub-menu">
														<li><a href="index.html">Homepage V1</a></li>
														<li><a href="index2.html">Homepage V2</a></li>
													</ul>
												</li>
												<li><a href="about-us.html">About</a></li>
												<li class="menu-item-has-children"><a href="#">Properties</a>
													<ul class="sub-menu">
														<li><a href="property-grid.html">Property Grid</a></li>
														<li><a href="property-list.html">Property List</a></li>
														<li><a href="property-details.html">Property Details</a></li>
													</ul>
												</li>
												<li class="active menu-item-has-children"><a href="#">Agents</a>
													<ul class="sub-menu">
														<li><a href="agents-grid.html">Agents Grid</a></li>
														<li class="active"><a href="agents-list.html">Agents List</a></li>
														<li><a href="agents-details.html">Agents Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li><a href="blog-list.html">Blog List</a></li>
														<li><a href="blog-details.html">Blog Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Pages</a>
													<ul class="sub-menu">
														<li><a href="login.html">Log In</a></li>
														<li><a href="signup.html">Sign Up</a></li>
														<li><a href="mail-success.html">Mail Success</a></li>
													</ul>
												</li>
												<li><a href="contact.html">Contact</a></li>
											</ul>
											<!-- End Main Menu -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>	
	<!-- End Header Area -->
	
	<!-- Breadcrumbs Area -->
	<section class="breadcrumbs-area" style="background-image:url('img/breadcrumbs-bg.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Breadcrumbs Content -->
					<div class="breadcrumbs-content">
						<h1 class="b-content-title m-0">Agents List</h1>
						<ul class="breadcrumbs-menu list-none">
							<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
							<li><a href="agents-list.html">Agents List</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumbs Area -->
	
	<!-- Agent List Area -->
	<section class="agent-list-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<!-- Property Filter -->
					<div class="list-filter">
						<!-- Property Filter Title -->
						<h4 class="l-filter-title m-0">Found 12 Agents</h4>
						<ul class="filter-item-list list-none">
							<li class="active filter-grid"><a href="agents-list.html"><i class="fa fa-th"></i></a></li>
							<li class="filter-grid"><a href="#"><i class="fa fa-list"></i></a></li>
							<li class="filter-sort">
								<select>
									<option value="1" selected="selected">Short By</option>
									<option value="2">Newest</option>
									<option value="3">Oldest</option>
								</select>
							</li>
						</ul>
					</div>
					<!-- End Property Filter -->
					<!-- Agent List Inner -->
					<div class="agent-list-inner">
						<!-- Single Agent -->
						<div class="single-agent-list" data-aos="fade-up" data-aos-delay="200">
							<div class="agent-list-img">
								<img src="img/agent/list-1.jpg" alt="#">
								<span class="agent-list-rank">Top Seller</span>
							</div>
							<div class="agent-list-content">
								<h4 class="agent-l-title"><a href="agents-details.html">David Smith</a></h4>
								<span>Land Agent</span>
								<div class="t-list-bottom">
									<p>Assertively predominate an expanded array of scenarios rather than bleeding.</p>
									<ul class="t-list-social list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent-list" data-aos="fade-up" data-aos-delay="200">
							<div class="agent-list-img">
								<img src="img/agent/list-2.jpg" alt="#">
								<span class="agent-list-rank">Top Seller</span>
							</div>
							<div class="agent-list-content">
								<h4 class="agent-l-title"><a href="agents-details.html">Angelina Maty</a></h4>
								<span>Land Agent</span>
								<div class="t-list-bottom">
									<p>Assertively predominate an expanded array of scenarios rather than bleeding.</p>
									<ul class="t-list-social list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent-list" data-aos="fade-up" data-aos-delay="200">
							<div class="agent-list-img">
								<img src="img/agent/list-3.jpg" alt="#">
								<span class="agent-list-rank">Top Seller</span>
							</div>
							<div class="agent-list-content">
								<h4 class="agent-l-title"><a href="agents-details.html">Micle Thomas</a></h4>
								<span>Land Agent</span>
								<div class="t-list-bottom">
									<p>Assertively predominate an expanded array of scenarios rather than bleeding.</p>
									<ul class="t-list-social list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Single Agent -->
						<div class="single-agent-list" data-aos="fade-up" data-aos-delay="200">
							<div class="agent-list-img">
								<img src="img/agent/list-4.jpg" alt="#">
								<span class="agent-list-rank">Top Seller</span>
							</div>
							<div class="agent-list-content">
								<h4 class="agent-l-title"><a href="agents-details.html">Kurtuglu Bim</a></h4>
								<span>Land Agent</span>
								<div class="t-list-bottom">
									<p>Assertively predominate an expanded array of scenarios rather than bleeding.</p>
									<ul class="t-list-social list-none">
										<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-instagram"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- End Single Agent -->
					</div>
					<!-- End Agent List Inner -->
					<div class="col-12">
						<!-- Start Pagination -->
						<div class="pagination-main">
							<ul class="pagination">
								<li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
							</ul>
						</div>
						<!-- End Pagination -->
					</div>
				</div>	
				<div class="col-lg-4 l-12">
					<!-- Property Sidebar -->
					<div class="properties-sidebar">
						<!-- Property Sidebar Widget -->
						<div class="properties-s-widget m-b-30">
							<h4 class="p-sidebar-title">Featured Properties</h4>
							<div class="properties-s-slider p-btm-50">
								<!-- Sidebar Slider Widget -->
								<div class="sidebar-s-widget">	
									<img src="img/featured-p-sidebar-1.png" alt="#">
									<div class="property-for-sale">
										<ul class="list-none">
											<li><a href="#">Hot</a></li>
											<li class="active"><a href="#">For Sale</a></li>
										</ul>
									</div>
									<h4 class="p-sidebar-price m-0">$789,600</h4>
								</div>
								<!-- Sidebar Slider Widget -->
								<div class="sidebar-s-widget">	
									<img src="img/featured-p-sidebar-2.png" alt="#">
									<div class="property-for-sale">
										<ul class="list-none">
											<li><a href="#">Hot</a></li>
											<li class="active"><a href="#">For Sale</a></li>
										</ul>
									</div>
									<h4 class="p-sidebar-price m-0">$136,600</h4>
								</div>
								<!-- Sidebar Slider Widget -->
								<div class="sidebar-s-widget">	
									<img src="img/featured-p-sidebar-3.png" alt="#">
									<div class="property-for-sale">
										<ul class="list-none">
											<li><a href="#">Hot</a></li>
											<li class="active"><a href="#">For Sale</a></li>
										</ul>
									</div>
									<h4 class="p-sidebar-price m-0">$890,600</h4>
								</div>
							</div>
						</div>
						<!-- Property Sidebar Widget -->
						<div class="properties-s-widget">
							<h4 class="p-sidebar-title">Recently Viewed</h4>
							<div class="r-view-inner">
								<!-- Sidebar Recent View -->
								<div class="single-r-view">
									<img src="img/featured-p-sidebar-1.png" alt="#">
									<div class="r-view-content">
										<ul class="r-view-ratting list-none">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-half-alt"></i></li>
										</ul>
										<h5 class="r-view-title"><a href="property-details.html">Good Life Property</a></h5>
										<p class="m-0">$1000,000</p>
									</div>
								</div>
								<!-- Sidebar Recent View -->
								<div class="single-r-view">
									<img src="img/featured-p-sidebar-1.png" alt="#">
									<div class="r-view-content">
										<ul class="r-view-ratting list-none">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-half-alt"></i></li>
										</ul>
										<h5 class="r-view-title"><a href="property-details.html">More Dramma LTD</a></h5>
										<p class="m-0">$700,000</p>
									</div>
								</div>
								<!-- Sidebar Recent View -->
								<div class="single-r-view mb-0">
									<img src="img/recent-view/03.png" alt="#">
									<div class="r-view-content">
										<ul class="r-view-ratting list-none">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-half-alt"></i></li>
										</ul>
										<h5 class="r-view-title"><a href="property-details.html">VIP Support LTD</a></h5>
										<p class="m-0">$180,000</p>
									</div>
								</div>
								<!-- End Sidebar Recent View -->
							</div>
						</div>
						<!-- End Property Sidebar Widget -->
					</div>
					<!-- End Property Sidebar -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Agent List Area -->
	
	<!-- Footer Area -->
	<footer class="footer-area">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Footer Inner -->
						<div class="footer-card-inner">
							<div class="row">
								<div class="col-lg-4 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">About Us</h3>
										<p class="mb-0">Corporate leadership skills through installed base niches. Phosfluo rescently onceptualize integrated models whereas multidisciplinary web services offer limited</p>
										<ul class="footer-social list-none">
											<li class="active"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget f-services-widget">
										<h3 class="widget_title">Services</h3>
										<ul class="footer-services list-none">
											<li><a href="index.html">Home</a></li>
											<li><a href="about-us.html">About</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="property-grid.html">Portfolio</a></li>
											<li><a href="blog-list.html">Blog</a></li>
											<li><a href="blog-details.html">News</a></li>
											<li><a href="agents-list.html">Team</a></li>
											<li><a href="property-list.html">Property</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="signup.html">Sign Up</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">	
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">News Feed</h3>
										<div class="f-news-feed">
											<img src="img/feed-1.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="#"><i class="fa fa-clock"></i>10 June, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">Losing never felt so good energy everything</a></p>
											</div>
										</div>
										<div class="f-news-feed">
											<img src="img/feed-2.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="#"><i class="fa fa-clock"></i>4 May, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">5 Essential Steps for Buying an Investment</a></p>
											</div>
										</div>
									</div>
									<!-- End Single Widget -->
								</div>
							</div>
						</div>
						<!-- End Footer Inner -->
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p class="mb-0">© 2021 <a href="index.html">Immolax</a> By <a href="https://themeforest.net/user/vecuro">Vecuro</a>. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>  
	<!-- End Footer Area -->

	<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>

	<!-- Jquery JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Maginific Popup JS -->
	<script src="js/magnific-popup.min.js"></script>
	<!-- Aos JS -->
	<script src="js/aos.min.js"></script>
	<!-- Cube Portfolio JS -->
	<script src="js/cube-portfolio.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.min.js"></script>
	<!-- Slickslider JS -->
	<script src="js/slickslider.min.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Bx Slider JS -->
	<script src="js/bx-slider.min.js"></script>
	<!-- Nice Select JS -->
	<script src="js/nice-select.min.js"></script>
	<!-- Datepicker JS -->
	<script src="js/datepicker.js"></script>
	<!-- Main JS -->
	<script src="js/active.js"></script>
	
	</body>
</html>