<!DOCTYPE html>
<html class="no-js" lang="ZXX">

<head>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="Site keywords here">
	<meta name="description" content="#">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Site Title -->
	<title>Immolax - Real Estate Services HTML5 Template</title>

	<!-- Fav Icon -->
	<link rel="icon" href="img/favicon.png">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Cube Portfolio -->
	<link rel="stylesheet" href="css/cube-portfolio.min.css">
	<!-- Maginific Popup -->
	<link rel="stylesheet" href="css/maginific-popup.min.css">
	<!-- Jquery UI -->
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="css/animate.min.css">
	<!-- Slickslider CSS -->
	<link rel="stylesheet" href="css/slickslider.min.css">
	<!-- Bx Slider CSS -->
	<link rel="stylesheet" href="css/bx-slider.min.css">
	<!-- AOS CSS -->
	<link rel="stylesheet" href="css/aos.min.css">
	<!-- Nice Select -->
	<link rel="stylesheet" href="css/nice-select.min.css">
	<!-- Datepicker CSS -->
	<link rel="stylesheet" href="css/datepicker.css">
	<!-- Fontawesome -->
	<link rel="stylesheet" href="css/all.min.css">
	<link rel="stylesheet" href="css/fontawesome.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">

	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->

	<!-- Preloader -->
	<div class="preloader">
		<div class="loading">
			<div class="loader-line"></div>
			<div class="loader-line"></div>
			<div class="loader-line"></div>
			<div class="loader-line"></div>
			<div class="loader-line"></div>
			<div class="loader-line"></div>
			<div class="loader-line"></div>
			<div class="loader-line"></div>
		</div>
	</div>
	<!-- End Preloader -->

	<!-- Mobile Menu Modal -->
	<div class="modal offcanvas-modal fade" id="offcanvas-modal">
		<div class="modal-dialog offcanvas-dialog">
			<div class="modal-content">
				<div class="modal-header offcanvas-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<!-- offcanvas-form-wrap start -->
				<div class="offcanvas-form-wrap">
					<form action="#" class="offcanvas-form position-relative">
						<input class="form-control" type="text" placeholder="search key ... " />
						<button class="theme-btn">Search</button>
					</form>
				</div>
				<!-- offcanvas-form-wrap end -->
				<!-- offcanvas-menu start -->
				<nav id="offcanvas-menu" class="offcanvas-menu">
					<ul class="list-none">
						<li class="menu-arrow"><a href="#">Home</a>
							<ul class="sub-menu list-none">
								<li class="active"><a href="index.html">Homepage V1</a></li>
								<li><a href="index2.html">Homepage V2</a></li>
							</ul>
						</li>
						<li><a href="about-us.html">About</a></li>
						<li class="menu-arrow"><a href="#">Properties</a>
							<ul class="sub-menu">
								<li><a href="property-grid.html">Property Grid</a></li>
								<li><a href="property-list.html">Property List</a></li>
								<li><a href="property-details.html">Property Details</a></li>
							</ul>
						</li>
						<li class="menu-arrow"><a href="#">Agents</a>
							<ul class="sub-menu">
								<li><a href="agents-grid.html">Agents Grid</a></li>
								<li><a href="agents-list.html">Agents List</a></li>
								<li><a href="agents-details.html">Agents Details</a></li>
							</ul>
						</li>
						<li class="menu-arrow"><a href="#">Blog</a>
							<ul class="sub-menu">
								<li><a href="blog-list.html">Blog List</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li>
						<li class="menu-arrow"><a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="login.html">Log In</a></li>
								<li><a href="signup.html">Sign Up</a></li>
								<li><a href="mail-success.html">Mail Success</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
					<div class="offcanvas-social">
						<h4 class="follow-title">Follow Us:</h4>
						<ul class="list-none">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
						</ul>
					</div>
				</nav>
				<!-- offcanvas-menu end -->
			</div>
		</div>
	</div>
	<!-- End Mobile Menu Modal -->

	<!-- Search Popup -->
	<div class="popup-search-box d-none d-lg-block">
		<button class="searchClose border-theme text-theme"><i class="fa fa-times"></i></button>
		<form action="#">
			<input type="text" class="border-theme" placeholder="What are you looking for" /> <button type="submit"><i class="fa fa-search"></i></button>
		</form>
	</div>
	<!-- End Search Popup -->

	<!-- Topbar Area -->
	<div class="topbar-area">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-auto">
					<!-- Topbar Content Left -->
					<div class="t-content-left">
						<div class="wlc-text t-border-line">
							<p class="mb-0">Welcome to Real Estate Society</p>
						</div>
						<div class="topbar-language">
							<i class="fa fa-globe"></i>
							<select>
								<option value="1" selected="selected">English</option>
								<option value="2">Bangla</option>
								<option value="3">Arabic</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-auto">
					<!-- Topbar Content Right -->
					<div class="t-content-right">
						<div class="topbar-opening t-border-line">
							<p class="mb-0"><i class="fa fa-clock"></i>Mon - Sat: 8:00 am - 7:00 pm</p>
						</div>
						<ul class="topbar-social list-none">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Topbar Area -->

	<!-- Middle Header -->
	<div class="middle-header">
		<div class="container">
			<div class="row gx-0 justify-content-between align-items-center">
				<div class="col-auto">
					<!-- Logo -->
					<div class="logo two">
						<a href="index.html"><img src="img/logo.png" alt="#"></a>
					</div>
				</div>
				<div class="col-auto">
					<!-- Header Contact -->
					<div class="header-contact">
						<div class="single-h-contact">
							<i class="fa fa-map-marker-alt"></i>
							<div class="s-header-content">
								<span>Our Location</span>
								<h4 class="title hs-5 c-font">Disco City, London</h4>
							</div>
						</div>
						<div class="single-h-contact">
							<i class="fa fa-envelope-open-text"></i>
							<div class="s-header-content">
								<span>Online Support</span>
								<h4 class="title hs-5 c-font">Info@agents.com</h4>
							</div>
						</div>
						<div class="single-h-contact">
							<i class="fa fa-phone-volume"></i>
							<div class="s-header-content">
								<span>Free Call</span>
								<h4 class="title hs-5 c-font">3256 21563</h4>
							</div>
						</div>
						<div class="m-header-btn">
							<a href="contact.html" class="theme-btn">Submit Property</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ENd Middle Header -->

	<!-- Header Area -->
	<header class="header-style2" id="active-sticky">
		<div class="container">
			<div class="row g-0">
				<div class="col-lg-9 col-md-4 col-4">
					<button type="button" class="offcanvas-toggler" data-bs-toggle="modal" data-bs-target="#offcanvas-modal">
						<span class="line"></span>
						<span class="line"></span>
						<span class="line"></span>
					</button>
					<div class="main-menu">
						<div class="navbar">
							<div class="nav-item">
								<!-- Main Menu -->
								<ul class="nav-menu navigation list-none">
									<li class="active menu-item-has-children"><a href="#">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Homepage V1</a></li>
											<li class="active"><a href="index2.html">Homepage V2</a></li>
										</ul>
									</li>
									<li><a href="about-us.html">About</a></li>
									<li class="menu-item-has-children"><a href="#">Properties</a>
										<ul class="sub-menu">
											<li><a href="property-grid.html">Property Grid</a></li>
											<li><a href="property-list.html">Property List</a></li>
											<li><a href="property-details.html">Property Details</a></li>
										</ul>
									</li>
									<li class="menu-item-has-children"><a href="#">Agents</a>
										<ul class="sub-menu">
											<li><a href="agents-grid.html">Agents Grid</a></li>
											<li><a href="agents-list.html">Agents List</a></li>
											<li><a href="agents-details.html">Agents Details</a></li>
										</ul>
									</li>
									<li class="menu-item-has-children"><a href="#">Blog</a>
										<ul class="sub-menu">
											<li><a href="blog-list.html">Blog List</a></li>
											<li><a href="blog-details.html">Blog Details</a></li>
										</ul>
									</li>
									<li class="menu-item-has-children"><a href="#">Pages</a>
										<ul class="sub-menu">
											<li><a href="login.html">Log In</a></li>
											<li><a href="signup.html">Sign Up</a></li>
											<li><a href="mail-success.html">Mail Success</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
								<!-- End Main Menu -->
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-8 col-8">
					<div class="header-details">
						<ul class="header-details-inner list-none">
							<li class="search-list"><a href="#" class="searchBoxTggler"><i class="fa fa-search"></i></a></li>
							<li class="t-border-line"><a href="login.html">Login</a></li>
							<li><a href="signup.html">Sign Up</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Hero Area -->
	<section class="hero-style2">
		<div class="hero-style2-slider">
			<!-- Single Slider -->
			<div class="single-hero2-slider" style="background-image:url('img/hero-slider/03.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-12">
							<!-- Hero Content -->
							<div class="hero2-slider-content">
								<span>Discover Immolax Property Ltd...</span>
								<h1 class="hero-title">Find Your Property</h1>
								<p class="mb-0">Authoritatively parallel task pandemic bandwidth<br>whereas distinctive synergy.</p>
								<div class="hero-content-btn">
									<a href="property-details.html" class="theme-btn">Discover Property</a>
									<a href="property-list.html" class="theme-btn herobtn-2">Find Now<i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Single Slider -->
			<div class="single-hero2-slider" style="background-image:url('img/hero-slider/034.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-12">
							<!-- Hero Content -->
							<div class="hero2-slider-content">
								<span>Explore Immolax House DDG...</span>
								<h1 class="hero-title">New House Design</h1>
								<p class="mb-0">Authoritatively parallel task pandemic bandwidth<br>whereas distinctive synergy.</p>
								<div class="hero-content-btn">
									<a href="property-details.html" class="theme-btn">Discover Property</a>
									<a href="property-list.html" class="theme-btn herobtn-2">Find Now<i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Single Slider -->
			<div class="single-hero2-slider" style="background-image:url('img/hero-slider/035.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-lg-7 col-md-7 col-12">
							<!-- Hero Content -->
							<div class="hero2-slider-content">
								<span>Discover Immolax Service PPO...</span>
								<h1 class="hero-title">Best Seller Property</h1>
								<p class="mb-0">Authoritatively parallel task pandemic bandwidth<br>whereas distinctive synergy.</p>
								<div class="hero-content-btn">
									<a href="property-details.html" class="theme-btn">Discover Property</a>
									<a href="property-list.html" class="theme-btn herobtn-2">Find Now<i class="fa fa-arrow-right"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slider -->
		</div>
	</section>
	<!-- End Hero Area -->

	<!-- Property Booking Area -->
	<section class="property-booking-area section-padding">
		<div class="container">
			<div class="row g-0">
				<div class="col-lg-7 col-12">
					<!-- Property Booking Slider -->
					<div class="p-booking-slider">
						<!-- Single Slider -->
						<div class="s-property-slider" style="background-image:url('img/property-slider-1.jpg');">
							<div class="p-slider-content">
								<div class="s-content-left">
									<h3 class="p-slider-title fs-28"><a href="property-details.html">Good Life Property Ltd</a></h3>
									<p class="m-0"><i class="fa fa-map-marker-alt"></i>301 Falls Blvd, Quincy MA 2169</p>
								</div>
								<div class="p-slider-price">
									<h4 class="price-title m-0">$22,500/m</h4>
								</div>
							</div>
						</div>
						<!-- Single Slider -->
						<div class="s-property-slider" style="background-image:url('img/property-slider-2.jpg');">
							<div class="p-slider-content">
								<div class="s-content-left">
									<h3 class="p-slider-title fs-28"><a href="property-details.html">Rose View Property Ltd</a></h3>
									<p class="m-0"><i class="fa fa-map-marker-alt"></i>201 Lose Angels, Veirdy MA 2169</p>
								</div>
								<div class="p-slider-price">
									<h4 class="price-title m-0">$56,100/m</h4>
								</div>
							</div>
						</div>
						<!-- End Single Slider -->
					</div>
				</div>
				<div class="col-lg-5 col-12">
					<!-- Property Booking Form -->
					<div class="p-booking-form">
						<h3 class="booking-form-title">Book For A Tour</h3>
						<form class="form" method="post" action="#">
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<input name="name" type="text" placeholder="Your Name" required="required">
										<i class="fa fa-user"></i>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<input name="phone" type="text" placeholder="Phone Number" required="required">
										<i class="fa fa-mobile-alt"></i>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<input name="date" type="text" placeholder="Date & Time" required="required" class="datetimepicker" autocomplete="off">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
								<div class="col-12">
									<div class="form-group">
										<select>
											<option value="1" selected="selected">Activity One</option>
											<option value="2">Activity Two</option>
											<option value="3">Activity Three</option>
										</select>
									</div>
								</div>
								<div class="col-12">
									<div class="booking-btn">
										<button class="theme-btn">Start Booking</button>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- End Property Booking Form -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Property Booking Area -->

	<!-- Fact Area -->
	<section class="fact-area p-btm-150">
		<div class="container">
			<div class="row g-0 justify-content-between">
				<div class="col-xl-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="100">
					<!-- Single Fact -->
					<div class="single-fact">
						<i class="fa fa-home"></i>
						<div class="fact-content">
							<h3 class="fact-c-title"><span class="counter">140,000</span>+</h3>
							<p class="m-0">Home Listing Available</p>
						</div>
					</div>
				</div>
				<div class="col-xl-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
					<!-- Single Fact -->
					<div class="single-fact">
						<i class="fa fa-users"></i>
						<div class="fact-content">
							<h3 class="fact-c-title"><span class="counter">10</span>M</h3>
							<p class="m-0">Visitors each month</p>
						</div>
					</div>
				</div>
				<div class="col-xl-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
					<!-- Single Fact -->
					<div class="single-fact">
						<i class="fa fa-clock"></i>
						<div class="fact-content">
							<h3 class="fact-c-title">$<span class="counter">185,00</span></h3>
							<p class="m-0">Average buyers saving</p>
						</div>
					</div>
				</div>
				<div class="col-xl-auto col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="400">
					<!-- Single Fact -->
					<div class="single-fact">
						<i class="fa fa-warehouse"></i>
						<div class="fact-content">
							<h3 class="fact-c-title"><span class="counter">4,300</span>+</h3>
							<p class="m-0">Resource for house</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Fact Area -->

	<!-- Recent Property Area -->
	<section class="recent-property-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
					<div class="section-title">
						<span class="sub-heading">Properties</span>
						<h2 class="heading-title">Recently Added</h2>
						<p>Dramatically harness real-time portals whereas distinctive services. Conveniently seize standardized best practices.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="recent-property-slider">
						<div class="single-p-slider">
							<!-- Single Recent Property -->
							<div class="single-recent-property">
								<div class="single-r-property-top">
									<!-- Recent Property Img -->
									<div class="single-r-property-img">
										<img src="img/recent-property/01.jpg" alt="#">
									</div>
									<div class="property-for-sale">
										<ul class="list-none">
											<li><a href="#">Hot</a></li>
											<li class="active"><a href="#">For Sale</a></li>
										</ul>
									</div>
									<!-- Property Ratting -->
									<div class="property-ratting">
										<div class="property-ratting-left">
											<span class="p-ratting-point">4.5</span>
											<div class="p-ratting-details">
												<ul class="ratting-details-star list-none">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-alt"></i></li>
												</ul>
												<span>2 Comment</span>
											</div>
										</div>
										<div class="property-ratting-save">
											<a href="#"><i class="fa fa-heart"></i>Save</a>
										</div>
									</div>
								</div>
								<!-- Single Recent Content -->
								<div class="s-property-content">
									<h3 class="srp-title hs-4"><a href="property-details.html">Good Life Property Ltd</a></h3>
									<p class="property-location mb-0"><i class="fa fa-map-marker-alt"></i>301 Falls Blvd, Quincy MA 2169</p>
									<div class="single-r-property-bed">
										<ul class="single-bed-property list-none">
											<li><b>4</b><span><i class="fa fa-bed"></i></span></li>
											<li><b>3</b><span><i class="fa fa-shower"></i></span></li>
											<li><b>1</b><span><i class="fa fa-warehouse"></i></span></li>
										</ul>
									</div>
									<!-- Property User -->
									<div class="property-user">
										<div class="property-user-left">
											<img src="img/recent-property/user-1.png" alt="#">
											<div class="property-user-title">
												<p class="at-title mb-0 hs-6"><a href="#">David Smith</a></p>
												<span>Manager</span>
											</div>
										</div>
										<div class="property-user-price">
											<p>$22,500/m</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Single Recent Property -->
						</div>
						<div class="single-p-slider">
							<!-- Single Recent Property -->
							<div class="single-recent-property">
								<div class="single-r-property-top">
									<!-- Recent Property Img -->
									<div class="single-r-property-img">
										<img src="img/recent-property/02.jpg" alt="#">
									</div>
									<div class="property-for-sale">
										<ul class="list-none">
											<li><a href="#">Hot</a></li>
											<li class="active"><a href="#">For Sale</a></li>
										</ul>
									</div>
									<!-- Property Ratting -->
									<div class="property-ratting">
										<div class="property-ratting-left">
											<span class="p-ratting-point">3.5</span>
											<div class="p-ratting-details">
												<ul class="ratting-details-star list-none">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-alt"></i></li>
												</ul>
												<span>3 Comment</span>
											</div>
										</div>
										<div class="property-ratting-save">
											<a href="#"><i class="fa fa-heart"></i>Save</a>
										</div>
									</div>
								</div>
								<!-- Single Recent Content -->
								<div class="s-property-content">
									<h3 class="srp-title hs-4"><a href="property-details.html">Bondon Property Ltd</a></h3>
									<p class="property-location mb-0"><i class="fa fa-map-marker-alt"></i>1421 San Pedro St, Los Angeles</p>
									<div class="single-r-property-bed">
										<ul class="single-bed-property list-none">
											<li><b>5</b><span><i class="fa fa-bed"></i></span></li>
											<li><b>4</b><span><i class="fa fa-shower"></i></span></li>
											<li><b>2</b><span><i class="fa fa-warehouse"></i></span></li>
										</ul>
									</div>
									<!-- Property User -->
									<div class="property-user">
										<div class="property-user-left">
											<img src="img/recent-property/user-2.png" alt="#">
											<div class="property-user-title">
												<p class="at-title mb-0 hs-6"><a href="#">Minhaj Ali</a></p>
												<span>CEO</span>
											</div>
										</div>
										<div class="property-user-price">
											<p>$42,000/m</p>
										</div>
									</div>
								</div>
							</div>
							<!-- Single Recent Property -->
						</div>
						<div class="single-p-slider">
							<div class="single-recent-property">
								<div class="single-r-property-top">
									<!-- Recent Property Img -->
									<div class="single-r-property-img">
										<img src="img/recent-property/03.jpg" alt="#">
									</div>
									<div class="property-for-sale">
										<ul class="list-none">
											<li><a href="#">Hot</a></li>
											<li class="active"><a href="#">For Sale</a></li>
										</ul>
									</div>
									<!-- Property Ratting -->
									<div class="property-ratting">
										<div class="property-ratting-left">
											<span class="p-ratting-point">5</span>
											<div class="p-ratting-details">
												<ul class="ratting-details-star list-none">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
												</ul>
												<span>5 Comment</span>
											</div>
										</div>
										<div class="property-ratting-save">
											<a href="#"><i class="fa fa-heart"></i>Save</a>
										</div>
									</div>
								</div>
								<!-- Single Recent Content -->
								<div class="s-property-content">
									<h3 class="srp-title hs-4"><a href="property-details.html">Big House Property Ltd</a></h3>
									<p class="property-location mb-0"><i class="fa fa-map-marker-alt"></i>890 Lio Madris Pt, Blue Town</p>
									<div class="single-r-property-bed">
										<ul class="single-bed-property list-none">
											<li><b>6</b><span><i class="fa fa-bed"></i></span></li>
											<li><b>4</b><span><i class="fa fa-shower"></i></span></li>
											<li><b>3</b><span><i class="fa fa-warehouse"></i></span></li>
										</ul>
									</div>
									<!-- Property User -->
									<div class="property-user">
										<div class="property-user-left">
											<img src="img/recent-property/user-3.png" alt="#">
											<div class="property-user-title">
												<p class="at-title mb-0 hs-6"><a href="#">Canial Brandi</a></p>
												<span>Founder</span>
											</div>
										</div>
										<div class="property-user-price">
											<p>$54,500/m</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Single Recent Property -->
						</div>
						<div class="single-p-slider">
							<!-- Single Recent Property -->
							<div class="single-recent-property">
								<div class="single-r-property-top">
									<!-- Recent Property Img -->
									<div class="single-r-property-img">
										<img src="img/recent-property/04.jpg" alt="#">
									</div>
									<div class="property-for-sale">
										<ul class="list-none">
											<li><a href="#">Hot</a></li>
											<li class="active"><a href="#">For Sale</a></li>
										</ul>
									</div>
									<!-- Property Ratting -->
									<div class="property-ratting">
										<div class="property-ratting-left">
											<span class="p-ratting-point">4.5</span>
											<div class="p-ratting-details">
												<ul class="ratting-details-star list-none">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-alt"></i></li>
												</ul>
												<span>2 Comment</span>
											</div>
										</div>
										<div class="property-ratting-save">
											<a href="#"><i class="fa fa-heart"></i>Save</a>
										</div>
									</div>
								</div>
								<!-- Single Recent Content -->
								<div class="s-property-content">
									<h3 class="srp-title hs-4"><a href="property-details.html">VIP Rose Property Ltd</a></h3>
									<p class="property-location mb-0"><i class="fa fa-map-marker-alt"></i>301 Falls Blvd, Quincy MA 2169</p>
									<div class="single-r-property-bed">
										<ul class="single-bed-property list-none">
											<li><b>4</b><span><i class="fa fa-bed"></i></span></li>
											<li><b>3</b><span><i class="fa fa-shower"></i></span></li>
											<li><b>1</b><span><i class="fa fa-warehouse"></i></span></li>
										</ul>
									</div>
									<!-- Property User -->
									<div class="property-user">
										<div class="property-user-left">
											<img src="img/recent-property/user-1.png" alt="#">
											<div class="property-user-title">
												<p class="at-title mb-0 hs-6"><a href="#">David Smith</a></p>
												<span>Manager</span>
											</div>
										</div>
										<div class="property-user-price">
											<p>$22,500/m</p>
										</div>
									</div>
								</div>
							</div>
							<!-- End Single Recent Property -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Recent Property Area -->

	<!-- Why Choose Area -->
	<section class="why-choose-area section-padding">
		<div class="why-choose-bg" style="background-image:url('img/why-choose-bg.jpg');"></div>
		<div class="container why-max-width">
			<div class="row g-0">
				<div class="col-lg-6 col-12" data-aos="fade-right" data-aos-delay="200">
					<!-- Why Choose Slider -->
					<div class="why-choose-slider">
						<div class="single-choose-slider">
							<img src="img/why-choose-1.jpg" alt="#">
						</div>
						<div class="single-choose-slider">
							<img src="img/why-choose-2.jpg" alt="#">
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-12" data-aos="fade-left" data-aos-delay="300">
					<!-- Faq Area -->
					<div class="faq-inner home">
						<div class="faq-top-content">
							<span class="small-title">Best Services</span>
							<h1 class="p-title m-0">Why Choose Us</h1>
						</div>
						<div class="faq-main-content">
							<div class="accordion" id="accordionExample">
								<!-- Single Faq -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
										<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<span>Dynamically impact client-focused synergy?</span>
										</button>
									</h2>
									<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- Single Faq -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingTwo">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<span>What is Gear House real estate?</span>
										</button>
									</h2>
									<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- Single Faq -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingThree">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											<span>What is the meaning of real in real estate?</span>
										</button>
									</h2>
									<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- Single Faq -->
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingFour">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
											<span>How Can We Start a Project?</span>
										</button>
									</h2>
									<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<!-- End Single Faq -->
							</div>
						</div>
					</div>
					<!-- End Faq Area -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Why Choose Area -->

	<!-- Property Option Area -->
	<section class="property-option-area p-top-110 p-btm-260">
		<div class="container">
			<div class="row g-0 justify-content-between">
				<div class="col-lg-4 col-xl-auto col-md-4 col-12" data-aos="fade-up" data-aos-delay="100">
					<!-- Single Option -->
					<div class="single-p-option">
						<i class="fa fa-cogs"></i>
						<div class="p-option-content">
							<h3 class="option-c-title">Quality & Best Equipments</h3>
							<p class="m-0 text-white-light">Compellingly redefine wireless interfaces mission..</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-xl-auto col-md-4 col-12" data-aos="fade-up" data-aos-delay="200">
					<!-- Single Option -->
					<div class="single-p-option">
						<i class="fas fa-headset"></i>
						<div class="p-option-content">
							<h3 class="option-c-title">24/7 Support & Review</h3>
							<p class="m-0 text-white-light">Compellingly redefine wireless interfaces mission..</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-xl-auto col-md-4 col-12" data-aos="fade-up" data-aos-delay="300">
					<!-- Single Option -->
					<div class="single-p-option">
						<i class="fas fa-award"></i>
						<div class="p-option-content">
							<h3 class="option-c-title">Award & Target setting</h3>
							<p class="m-0 text-white-light">Compellingly redefine wireless interfaces mission..</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Property Option Area -->

	<!-- Popular Property Area -->
	<section class="popular-property-area p-btm-150">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="popular-property-inner">
						<div class="row">
							<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
								<div class="section-title">
									<span class="sub-heading">Properties</span>
									<h2 class="heading-title">Popular Properties</h2>
									<p>Dramatically harness real-time portals whereas distinctive services. Conveniently seize standardized best practices.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="popular-p-slider">
									<!-- Single Slider -->
									<div class="single-popular-slider-main">
										<div class="single-popular-slider">
											<div class="popular-slider-img">
												<img src="img/popular-property/01.jpg" alt="#">
											</div>
											<h4 class="s-popular-content m-0">Los Angeles</h4>
										</div>
									</div>
									<!-- Single Slider -->
									<div class="single-popular-slider-main">
										<div class="single-popular-slider">
											<div class="popular-slider-img">
												<img src="img/popular-property/02.jpg" alt="#">
											</div>
											<h4 class="s-popular-content m-0">California</h4>
										</div>
									</div>
									<!-- Single Slider -->
									<div class="single-popular-slider-main">
										<div class="single-popular-slider">
											<div class="popular-slider-img">
												<img src="img/popular-property/03.jpg" alt="#">
											</div>
											<h4 class="s-popular-content m-0">San Francisco</h4>
										</div>
									</div>
									<!-- Single Slider -->
									<div class="single-popular-slider-main">
										<div class="single-popular-slider">
											<div class="popular-slider-img">
												<img src="img/popular-property/04.jpg" alt="#">
											</div>
											<h4 class="s-popular-content m-0">San Francisco</h4>
										</div>
									</div>
									<!-- End Single Slider -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Popular Property Area -->

	<!-- Blog Area -->
	<section class="blog-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
					<div class="section-title">
						<span class="sub-heading">Blog</span>
						<h2 class="heading-title">Latest News</h2>
						<p>Dramatically harness real-time portals whereas distinctive services. Conveniently seize standardized best practices.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="blog-slider" data-aos="fade-up" data-aos-delay="200">
						<!-- Single Blog -->
						<div class="single-blog">
							<div class="blog-img">
								<img src="img/blog/01.jpg" alt="#">
							</div>
							<div class="blog-content">
								<div class="blog-meta">
									<a href="#"><i class="fa fa-calendar-alt"></i>05 Jan,2021</a>
									<a href="#"><i class="fa fa-tag"></i>Residential</a>
								</div>
								<p class="blog-title fs-18"><a href="blog-details.html">Services enable process is tobe after user-centric schemas</a></p>
								<div class="blog-admin">
									<img src="img/blog/admin-1.png" alt="#">
									<div class="blog-admin-title">
										<span class="theme-color">Posted By</span>
										<p class="author-title hs-6 mb-0"><a href="agents-details.html">Adam Smith</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Blog -->
						<div class="single-blog">
							<div class="blog-img">
								<img src="img/blog/02.jpg" alt="#">
							</div>
							<div class="blog-content">
								<div class="blog-meta">
									<a href="#"><i class="fa fa-calendar-alt"></i>10 Apr,2021</a>
									<a href="#"><i class="fa fa-tag"></i>Corporate</a>
								</div>
								<p class="blog-title fs-18"><a href="blog-details.html">5 Essential Steps for Buying an Investment</a></p>
								<div class="blog-admin">
									<img src="img/blog/admin-2.png" alt="#">
									<div class="blog-admin-title">
										<span class="theme-color">Posted By</span>
										<p class="author-title hs-6 mb-0"><a href="agents-details.html">Micle Zone</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Blog -->
						<div class="single-blog">
							<div class="blog-img">
								<img src="img/blog/03.jpg" alt="#">
							</div>
							<div class="blog-content">
								<div class="blog-meta">
									<a href="#"><i class="fa fa-calendar-alt"></i>20 May,2021</a>
									<a href="#"><i class="fa fa-tag"></i>Real State</a>
								</div>
								<p class="blog-title fs-18"><a href="blog-details.html">Skills That You Can Learn In The Real Estate Market</a></p>
								<div class="blog-admin">
									<img src="img/blog/admin-3.png" alt="#">
									<div class="blog-admin-title">
										<span class="theme-color">Posted By</span>
										<p class="author-title hs-6 mb-0"><a href="agents-details.html">Ruby Mandy</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Blog -->
						<div class="single-blog">
							<div class="blog-img">
								<img src="img/blog/01.jpg" alt="#">
							</div>
							<div class="blog-content">
								<div class="blog-meta">
									<a href="#"><i class="fa fa-calendar-alt"></i>05 Jan,2021</a>
									<a href="#"><i class="fa fa-tag"></i>Residential</a>
								</div>
								<p class="blog-title fs-18"><a href="blog-details.html">Services enable process is tobe after user-centric schemas</a></p>
								<div class="blog-admin">
									<img src="img/blog/admin-1.png" alt="#">
									<div class="blog-admin-title">
										<span class="theme-color">Posted By</span>
										<p class="author-title hs-6 mb-0"><a href="agents-details.html">Adam Smith</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Blog -->
						<div class="single-blog">
							<div class="blog-img">
								<img src="img/blog/02.jpg" alt="#">
							</div>
							<div class="blog-content">
								<div class="blog-meta">
									<a href="#"><i class="fa fa-calendar-alt"></i>10 Apr,2021</a>
									<a href="#"><i class="fa fa-tag"></i>Corporate</a>
								</div>
								<p class="blog-title fs-18"><a href="blog-details.html">5 Essential Steps for Buying an Investment</a></p>
								<div class="blog-admin">
									<img src="img/blog/admin-2.png" alt="#">
									<div class="blog-admin-title">
										<span class="theme-color">Posted By</span>
										<p class="author-title hs-6 mb-0"><a href="agents-details.html">Micle Zone</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- Single Blog -->
						<div class="single-blog">
							<div class="blog-img">
								<img src="img/blog/03.jpg" alt="#">
							</div>
							<div class="blog-content">
								<div class="blog-meta">
									<a href="#"><i class="fa fa-calendar-alt"></i>20 May,2021</a>
									<a href="#"><i class="fa fa-tag"></i>Real State</a>
								</div>
								<p class="blog-title fs-18"><a href="blog-details.html">Skills That You Can Learn In The Real Estate Market</a></p>
								<div class="blog-admin">
									<img src="img/blog/admin-3.png" alt="#">
									<div class="blog-admin-title">
										<span class="theme-color">Posted By</span>
										<p class="author-title hs-6 mb-0"><a href="agents-details.html">Ruby Mandy</a></p>
									</div>
								</div>
							</div>
						</div>
						<!-- End Single Blog -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Blog Area -->

	<!-- Footer Area -->
	<footer class="footer-area">
		<div class="footer-top" style="background-image:url('img/footer-bg.jpg');">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Footer Inner -->
						<div class="footer-card-inner">
							<div class="row">
								<div class="col-lg-4 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">About Us</h3>
										<p class="mb-0">Corporate leadership skills through installed base niches. Phosfluo rescently onceptualize integrated models whereas multidisciplinary web services offer limited</p>
										<ul class="footer-social list-none">
											<li class="active"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget f-services-widget">
										<h3 class="widget_title">Services</h3>
										<ul class="footer-services list-none">
											<li><a href="index.html">Home</a></li>
											<li><a href="about-us.html">About</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="property-grid.html">Portfolio</a></li>
											<li><a href="blog-list.html">Blog</a></li>
											<li><a href="blog-details.html">News</a></li>
											<li><a href="agents-list.html">Team</a></li>
											<li><a href="property-list.html">Property</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="signup.html">Sign Up</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">News Feed</h3>
										<div class="f-news-feed">
											<img src="img/feed-1.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="#"><i class="fa fa-clock"></i>10 June, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">Losing never felt so good energy everything</a></p>
											</div>
										</div>
										<div class="f-news-feed">
											<img src="img/feed-2.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="#"><i class="fa fa-clock"></i>4 May, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">5 Essential Steps for Buying an Investment</a></p>
											</div>
										</div>
									</div>
									<!-- End Single Widget -->
								</div>
							</div>
						</div>
						<!-- End Footer Inner -->
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p class="mb-0">© 2021 <a href="index.html">Immolax</a> By <a href="https://themeforest.net/user/vecuro">Vecuro</a>. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>

	<!-- Jquery JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Maginific Popup JS -->
	<script src="js/magnific-popup.min.js"></script>
	<!-- Aos JS -->
	<script src="js/aos.min.js"></script>
	<!-- Cube Portfolio JS -->
	<script src="js/cube-portfolio.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.min.js"></script>
	<!-- Slickslider JS -->
	<script src="js/slickslider.min.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Bx Slider JS -->
	<script src="js/bx-slider.min.js"></script>
	<!-- Nice Select JS -->
	<script src="js/nice-select.min.js"></script>
	<!-- Datepicker JS -->
	<script src="js/datepicker.js"></script>
	<!-- Main JS -->
	<script src="js/active.js"></script>

</body>

</html>