<!DOCTYPE html>
<html class="no-js" lang="ZXX">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Site Title -->
		<title>Immolax - Real Estate Services HTML5 Template</title>
		
		<!-- Fav Icon -->
		<link rel="icon" href="img/favicon.png">
		
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Cube Portfolio -->
		<link rel="stylesheet" href="css/cube-portfolio.min.css">
		<!-- Maginific Popup -->
		<link rel="stylesheet" href="css/maginific-popup.min.css">
		<!-- Jquery UI -->
		<link rel="stylesheet" href="css/jquery-ui.min.css">
		<!-- Animate CSS -->
		<link rel="stylesheet" href="css/animate.min.css">
		<!-- Slickslider CSS -->
		<link rel="stylesheet" href="css/slickslider.min.css">
		<!-- Bx Slider CSS -->
		<link rel="stylesheet" href="css/bx-slider.min.css">
		<!-- AOS CSS -->
		<link rel="stylesheet" href="css/aos.min.css">
		<!-- Nice Select -->
		<link rel="stylesheet" href="css/nice-select.min.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="css/datepicker.css">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="css/all.min.css">
		<link rel="stylesheet" href="css/fontawesome.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
	</head>

	<body>
	<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	
	<!-- Preloader -->
    <div class="preloader">
        <div class="loading">
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
        </div>
    </div>
    <!-- End Preloader -->
	
	<!-- Mobile Menu Modal -->
    <div class="modal offcanvas-modal fade" id="offcanvas-modal">
        <div class="modal-dialog offcanvas-dialog">
            <div class="modal-content">
                <div class="modal-header offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- offcanvas-form-wrap start -->
                <div class="offcanvas-form-wrap">
                    <form action="#" class="offcanvas-form position-relative">
                        <input class="form-control" type="text" placeholder="search key ... " />
                        <button class="theme-btn">Search</button>
                    </form>
                </div>
                <!-- offcanvas-form-wrap end -->
                <!-- offcanvas-menu start -->
                <nav id="offcanvas-menu" class="offcanvas-menu">
                    <ul class="list-none">
                        <li class="menu-arrow"><a href="#">Home</a>
							<ul class="sub-menu list-none">
								<li class="active"><a href="index.html">Homepage V1</a></li>
								<li><a href="index2.html">Homepage V2</a></li>
							</ul>
						</li>
                        <li><a href="about-us.html">About</a></li>
						<li class="menu-arrow"><a href="#">Properties</a>
							<ul class="sub-menu">
								<li><a href="property-grid.html">Property Grid</a></li>
								<li><a href="property-list.html">Property List</a></li>
								<li><a href="property-details.html">Property Details</a></li>
							</ul>
						</li>
						<li class="menu-arrow"><a href="#">Agents</a>
							<ul class="sub-menu">
								<li><a href="agents-grid.html">Agents Grid</a></li>
								<li><a href="agents-list.html">Agents List</a></li>
								<li><a href="agents-details.html">Agents Details</a></li>
							</ul>
						</li>
                       <li class="menu-arrow"><a href="#">Blog</a>
							<ul class="sub-menu">
								<li><a href="blog-list.html">Blog List</a></li>
								<li><a href="blog-details.html">Blog Details</a></li>
							</ul>
						</li>
                        <li class="menu-arrow"><a href="#">Pages</a>
							<ul class="sub-menu">
								<li><a href="login.html">Log In</a></li>
								<li><a href="signup.html">Sign Up</a></li>
								<li><a href="mail-success.html">Mail Success</a></li>
							</ul>
						</li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="offcanvas-social">
						<h4 class="follow-title">Follow Us:</h4>
                        <ul class="list-none">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </nav>
                <!-- offcanvas-menu end -->
            </div>
        </div>
    </div>
	<!-- End Mobile Menu Modal -->						
	
	<!-- Search Popup -->
	<div class="popup-search-box d-none d-lg-block">
        <button class="searchClose border-theme text-theme"><i class="fa fa-times"></i></button>
        <form action="#">
            <input type="text" class="border-theme" placeholder="What are you looking for" /> <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
	<!-- End Search Popup -->

	<!-- Header Area -->
	<header class="header-area" id="active-sticky">
		<div class="container-fluid">
			<div class="header-inner">
				<div class="row g-0 justify-content-between align-items-center">
					<div class="col-auto">
						<!-- Logo -->
						<div class="logo">
							<a href="index.html"><img src="img/logo.png" alt="#"></a>
						</div>
					</div>
					<div class="col-auto">
						<div class="row gx-60 justify-content-between align-items-center">
							<button type="button" class="offcanvas-toggler" data-bs-toggle="modal" data-bs-target="#offcanvas-modal">
								<span class="line"></span>
								<span class="line"></span>
								<span class="line"></span>
							</button>
							<div class="col-auto">
								<!-- Header Details -->
								<div class="header-details style-1">
									<ul class="header-details-inner list-none">
										<li class="search-list"><a href="#" class="searchBoxTggler"><i class="fa fa-search"></i></a></li>
										<li><a href="login.html">Login</a></li>
										<li><a href="signup.html">Sign Up</a></li>
									</ul>
								</div>
							</div>
							<div class="col-auto">
								<div class="header-btn">
									<a href="contact.html" class="theme-btn">Submit Property</a>
								</div>
							</div>
							<div class="col-auto">
								<div class="main-menu">
									<div class="navbar">
										<div class="nav-item">
											<!-- Main Menu -->
											<ul class="nav-menu navigation list-none">
												<li class="menu-item-has-children"><a href="#">Home</a>
													<ul class="sub-menu">
														<li><a href="index.html">Homepage V1</a></li>
														<li><a href="index2.html">Homepage V2</a></li>
													</ul>
												</li>
												<li><a href="about-us.html">About</a></li>
												<li class="active menu-item-has-children"><a href="#">Properties</a>
													<ul class="sub-menu">
														<li><a href="property-grid.html">Property Grid</a></li>
														<li><a href="property-list.html">Property List</a></li>
														<li class="active"><a href="property-details.html">Property Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Agents</a>
													<ul class="sub-menu">
														<li><a href="agents-grid.html">Agents Grid</a></li>
														<li><a href="agents-list.html">Agents List</a></li>
														<li><a href="agents-details.html">Agents Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Blog</a>
													<ul class="sub-menu">
														<li><a href="blog-list.html">Blog List</a></li>
														<li><a href="blog-details.html">Blog Details</a></li>
													</ul>
												</li>
												<li class="menu-item-has-children"><a href="#">Pages</a>
													<ul class="sub-menu">
														<li><a href="login.html">Log In</a></li>
														<li><a href="signup.html">Sign Up</a></li>
														<li><a href="mail-success.html">Mail Success</a></li>
													</ul>
												</li>
												<li><a href="contact.html">Contact</a></li>
											</ul>
											<!-- End Main Menu -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>	
	<!-- End Header Area -->
	
	<!-- Breadcrumbs Area -->
	<section class="breadcrumbs-area" style="background-image:url('img/breadcrumbs-bg.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- Breadcrumbs Content -->
					<div class="breadcrumbs-content">
						<h1 class="b-content-title m-0">Property Details</h1>
						<ul class="breadcrumbs-menu list-none">
							<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
							<li><a href="property-details.html">Property Details</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Breadcrumbs Area -->
	

	<section class="property-details p-top-150">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="top-head-inner">
						<div class="row">
							<div class="col-lg-8 col-md-7 col-12">
								<div class="property-top-head">
									<div class="pt-list">
										<div class="single-pt">
											<a href="#">Hot</a>
											<a href="#">Sale</a>
										</div>
										<div class="single-pt rating">
											<ul class="rating-main list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
									<h2 class="p-single-title hs-2">Globally Cooperativeally Mansion</h2>
									<p class="pr-location m-0"><i class="fa fa-map-marker-alt"></i>970 Torringford Street, Torrington CT 6790</p>
								</div>
							</div>
							<div class="col-lg-4 col-md-5 col-12">
								<div class="p-single-pr m-t-50">
									<div class="price-amount"><span>From</span><b class="theme-color">$249,155.00</b></div>
								</div>
							</div>
						</div>
					</div>	
				</div>
				<div class="col-12">
					<div class="top-head-bottom">
						<div class="row">
							<div class="col-lg-8 col-md-8 col-12">
								<div class="bed-property-top">
									<ul class="single-bed-property list-none">
										<li><b>4</b><span><i class="fa fa-bed"></i></span></li>
										<li><b>3</b><span><i class="fa fa-shower"></i></span></li>
										<li><b>1</b><span><i class="fa fa-warehouse"></i></span></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4 col-md-4 col-12">
								<div class="print-react">
									<ul class="p-react-list list-none">
										<li><a href="#"><i class="fa fa-print"></i>Print</a></li>
										<li><i class="fa fa-heart"></i></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-12">
					<!-- Property Gallery Slider -->
					<div class="property-gallery-slider">
						<div class="property-slider">
							<ul class="bxslider">
							  <li><img src="img/property-details/slider_01.jpg" alt="#"></li>
							  <li><img src="img/property-details/slider_02.jpg" alt="#"></li>
							  <li><img src="img/property-details/slider_03.jpg" alt="#"></li>
							  <li><img src="img/property-details/slider_04.jpg" alt="#"></li>
							  <li><img src="img/property-details/slider_05.jpg" alt="#"></li>
							  <li><img src="img/property-details/slider_06.jpg" alt="#"></li>
							</ul>
							<div id="bx-pager">
							  <a data-slide-index="0" href=""><img src="img/property-details/slider-thumb-1.jpg" alt="#"></a>
							  <a data-slide-index="1" href=""><img src="img/property-details/slider-thumb-2.jpg" alt="#"></a>
							  <a data-slide-index="2" href=""><img src="img/property-details/slider-thumb-3.jpg" alt="#"></a>
							  <a data-slide-index="3" href=""><img src="img/property-details/slider-thumb-4.jpg" alt="#"></a>
							  <a data-slide-index="4" href=""><img src="img/property-details/slider-thumb-5.jpg" alt="#"></a>
							  <a data-slide-index="5" href=""><img src="img/property-details/slider-thumb-6.jpg" alt="#"></a>
							</div>
						</div>
					</div>
					<!-- End Property Gallery Slider -->
				</div>
			</div>
		</div>
	</section>

	<section class="p-description-area m-t-40 p-btm-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<!-- Descreption Box -->
					<div class="p-descrip-box">
						<div class="p-des-box-title">
							<h4 class="pr-d-title">Property Descrpition</h4>
							<span class="request-view theme-color"><i class="fa fa-check-circle"></i>Request Viewing</span>
						</div>
						<p>Proactively productize customized customer service after stand-alone sources. Appropriately conceptualize intermandated benefits through collaborative customer service. Rapidiously fabricate cross functional value before interactive human capital. Proactively disintermediate functionalized web-readiness through functional value. Progressively enable collaborative niches via user friendly solutions. Objectively disintermediate excellent technologies for cost effective ideas. Uniquely actualize unique "outside the box" thinking vis-a-vis granular resources.</p>
					</div>
					<!-- End Descreption Box -->
					<!-- Property Details -->
					<div class="p-descrip-box pro-details">
						<h4 class="pr-d-title">Property Details</h4>
						<div class="pr-details-main">
							<div class="row">
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single m-0">
										<div class="pr-icon"><i class="fa fa-filter"></i></div>
										<div class="pr-desc">
											<span>Type</span>
											<p class="pr-des-title m-0">Residential</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single m-0">
										<div class="pr-icon"><i class="fa fa-car"></i></div>
										<div class="pr-desc">
											<span>Paring</span>
											<p class="pr-des-title m-0">Yes</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single m-0">
										<div class="pr-icon"><i class="fa fa-map"></i></div>
										<div class="pr-desc">
											<span>Room size</span>
											<p class="pr-des-title m-0">12 ft</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single m-0">
										<div class="pr-icon"><i class="fa fa-directions"></i></div>
										<div class="pr-desc">
											<span>Orientation</span>
											<p class="pr-des-title m-0">Northest</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single">
										<div class="pr-icon"><i class="fa fa-directions"></i></div>
										<div class="pr-desc">
											<span>Bedrooms</span>
											<p class="pr-des-title m-0">3</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single">
										<div class="pr-icon"><i class="fa fa-directions"></i></div>
										<div class="pr-desc">
											<span>Bathrooms</span>
											<p class="pr-des-title m-0">3</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single">
										<div class="pr-icon"><i class="fa fa-directions"></i></div>
										<div class="pr-desc">
											<span>Plot Size</span>
											<p class="pr-des-title m-0">1500sqft</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
								<div class="col-xl-3 col-md-4 col-12">
									<!-- Single Property Detail -->
									<div class="pr-single">
										<div class="pr-icon"><i class="fa fa-directions"></i></div>
										<div class="pr-desc">
											<span>Living Room</span>
											<p class="pr-des-title m-0">1</p>
										</div>
									</div>
									<!-- End Single Property Detail -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Property Details -->
					
					<!-- Property Features -->
					<div class="p-descrip-box pro-features">
						<h4 class="pr-d-title">Features</h4>
						<ul class="single-pro-f list-none">
							<li><i class="fas fa-check"></i>Gym</li>
							<li><i class="fas fa-check"></i>Laundry</li>
							<li><i class="fas fa-check"></i>Lawn</li>
							<li><i class="fas fa-check"></i>Microwave</li>
						</ul>
						<ul class="single-pro-f list-none">
							<li><i class="fas fa-check"></i>Washer</li>
							<li><i class="fas fa-check"></i>Outdoor Shower</li>
							<li><i class="fas fa-check"></i>Refrigerator</li>
							<li><i class="fas fa-check"></i>Washer</li>
						</ul>
						<ul class="single-pro-f list-none">
							<li><i class="fas fa-check"></i>Sauna</li>
							<li><i class="fas fa-check"></i>Swimming Pool</li>
							<li><i class="fas fa-check"></i>TV Cable</li>
							<li><i class="fas fa-check"></i>Washer</li>
						</ul>
						<ul class="single-pro-f list-none">
							<li><i class="fas fa-check"></i>Wifi</li>
							<li><i class="fas fa-check"></i>Window Coverings</li>
							<li><i class="fas fa-check"></i>Park</li>
							<li><i class="fas fa-check"></i>Internet</li>
						</ul>
					</div>
					<!-- End Property Features -->
					<!-- Property Features -->
					<div class="p-descrip-box floor-planes">
						<h4 class="pr-d-title">Floor Planes</h4>
						<div class="floor-main-content">
							<div class="accordion" id="accordionExample">
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingOne">
									  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											<span>First Floor</span>
									  </button>
									</h2>
									<ul class="floor-head-details list-none">
										<li>Beds : 2</li>
										<li>Bath : 2</li>
										<li>Sqft : 750</li>
									</ul>
									<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<img src="img/property-details/floor-planes.jpg" alt="#">
											<p class="m-0">Collaboratively seize enterprise-wide channels for cross-platform manufactured products. Energistically conceptualize interoperable information vis-a-vis covalent leadership skills. Dynamically create 2.0 innovation and flexible experiences. impact interoperable supply chains before virtual value.</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingTwo">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											<span>Second Floor</span>
										</button>
									</h2>
									<ul class="floor-head-details list-none">
										<li>Beds : 2</li>
										<li>Bath : 2</li>
										<li>Sqft : 750</li>
									</ul>
									<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<img src="img/property-details/floor-planes.jpg" alt="#">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
								<div class="accordion-item">
									<h2 class="accordion-header" id="headingThree">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
											<span>Third Floor</span>
										</button>
									</h2>
									<ul class="floor-head-details list-none">
										<li>Beds : 2</li>
										<li>Bath : 2</li>
										<li>Sqft : 750</li>
									</ul>
									<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
										<div class="accordion-body">
											<img src="img/property-details/floor-planes.jpg" alt="#">
											<p class="m-0">Dynamically impact client-focused synergy without global e-tailers. propriately engineer web-enabled resources and state of the art methods of powerment plagiarize integrated process improvements</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Property Features -->
					<!-- Property Features -->
					<div class="p-descrip-box attachments">
						<div class="p-des-box-title">
							<h4 class="pr-d-title m-0">Attachmnets</h4>
							<div class="download-attach">
								<p class="m-0"><i class="fa fa-file-alt"></i>Download Boucher</p>
							</div>
						</div>
					</div>
					<!-- End Property Features -->
					
					<!-- Video Box -->
					<div class="p-descrip-box video-detail-popup">
						<h4 class="pr-d-title">Video</h4>
						<div class="video-popup-box">
							<img src="img/property-details/property-video.jpg" alt="#">
							<div class="video-main">
								<!-- Promo-Video -->
								<div class="promo-video">
									<div class="waves-block">
										<div class="waves wave-1"></div>
										<div class="waves wave-2"></div>
										<div class="waves wave-3"></div>
									</div>
								</div>
								<a href="https://www.youtube.com/watch?v=BqI0Q7e4kbk" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>
					<!-- End Video Box -->

					<!-- Virtual Tour Image -->
					<div class="p-descrip-box virual-tour">
						<h4 class="pr-d-title">360° Virtual Tour</h4>
						<img src="img/property-details/property-360.jpg" alt="#">
					</div>
					<!-- End Virtual Tour Image -->

					<!-- Waht's Nearby -->
					<div class="p-descrip-box whats-nearby">
						<h4 class="pr-d-title">What is Nearby?</h4>
						<!-- Nearby Main -->
						<div class="nearby-main">
							<h5 class="fs-20">Restaurant</h5>
							<div class="nearby-list">
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Bauhas Restaurent <span>2.75 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>1775 Washington, Hanover</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-3.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Ramiso House <span>22.75 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>1775 New York, America</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-4.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Wasim Banglo <span>95 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>6565 New York, America</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-5.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Morina Property <span>2.75 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>3171 Paris, France</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
							</div>
						</div>
						<!-- End Nearby Main -->

						<!-- Nearby Main -->
						<div class="nearby-main">
							<h4>School / College</h4>
							<div class="nearby-list">
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-6.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Candel House <span>599 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>5246 Dubai, UAE</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-7.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Rubina's Shop <span>18.75 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>1563 Morokko, Sylhet</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-8.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Sumana House<span>23.28 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>5689 Dhaka, Bangla</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-9.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Roman Fosel Co. <span>19.75 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>189 Mombie, Indea</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
							</div>
						</div>
						<!-- End Nearby Main -->
						<!-- Nearby Main -->
						<div class="nearby-main">
							<h4>Medical / Hospital</h4>
							<div class="nearby-list">
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-10.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Bosundora House <span>156 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>563 Paris, Canada</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-11.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Uamma Kotej <span>89 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>789 Al-Jedda, UAE</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-12.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Rumana LTD Shop <span>18 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>5636 Torento, Canada</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
								<!-- Single Nearby -->
								<div class="single-nearby">
									<!-- Nearby Left -->
									<div class="nearby-left">
										<div class="nearby-img">
											<img src="img/property-details/nearby-img-13.jpg" alt="#">
										</div>
										<div class="nearby-content">
											<h5 class="nearby-c-title">Ruman Mosif JOJO <span>2.75 km</span></h5>
											<p class="m-0"><i class="fa fa-map-marker-alt"></i>1775 Washington, Hanover</p>
										</div>
									</div>
									<!-- Nearby Right -->
									<div class="nearby-right">
										<div class="nearby-right-top">
											<span>144 Reviews</span>
											<ul class="nearby-rating list-none">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
												<li><i class="fa fa-star-half-alt"></i></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- End Single Nearby -->
							</div>
						</div>
						<!-- End Nearby Main -->
					</div>
					<!-- End Waht's Nearby -->
					
					<!-- Propery Map -->
					<div class="p-descrip-box pro-features">
						<h4 class="pr-d-title">Propery on Map</h4>
						<div class="propery-map">
							<div id="myMap" class="map"></div>
						</div>
					</div>
					<!-- End Property Features -->		

					<!-- Propery Features -->
					<div class="p-descrip-box rating">
						<h4 class="pr-d-title">Rating & Reviews</h4>
						<div class="rating-reviews-main">
							<div class="rating-r-top">
								<div class="row g-0">
									<div class="col-lg-6 col-12">
										<!-- Rating percents -->
										<div class="single-rr rating-percents">
											<div class="single-percent">
												<p>1</p>
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span>90%</span>
											</div>
											<div class="single-percent">
												<p>2</p>
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span>85%</span>
											</div>
											<div class="single-percent">
												<p>3</p>
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 49%;" aria-valuenow="49" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span>49%</span>
											</div>
											<div class="single-percent">
												<p>4</p>
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span>0%</span>
											</div>
											<div class="single-percent">
												<p>5</p>
												<div class="progress">
													<div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span>0%</span>
											</div>
										</div>
										<!-- End Rating percents -->
									</div>
									<div class="col-lg-6 col-12">
										<!-- Overall Rating -->
										<div class="single-rr overall-rating">
											<h5>Overall rating</h5>
											<div class="main-rating-line">
												<p class="main-r-title fs-20 m-0">4.70</p>
												<ul class="reply-in-rating list-none">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-alt"></i></li>
													<li><i class="fa fa-star-half-alt"></i></li>
												</ul>
												<span>based on all ratings</span>
											</div>
											<div class="rating-list">
												<div class="single-r-list">
													<span>Value</span>
													<h4 class="m-0">88%</h4>
												</div>
												<div class="single-r-list">
													<span>Quality</span>
													<h4 class="m-0">100%</h4>
												</div>
												<div class="single-r-list">
													<span>Services</span>
													<h4 class="m-0">100%</h4>
												</div>
											</div>
										</div>
										<!-- End Overall Rating -->
									</div>
								</div>
							</div>
							<div class="review-add">
								<h4 class="review-add-title fs-20">1 Review</h4>
								<div class="review-add-main">
									<div class="review-img">
										<img src="img/property-details/review.jpg" alt="#">
									</div>
									<div class="review-content">
										<div class="review-conent-top">
											<h4 class="fs-20">Angelina Ammy</h4>
											<div class="reply-rating">
												<ul class="reply-in-rating list-none">
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star"></i></li>
													<li><i class="fa fa-star-half-alt"></i></li>
													<li><i class="fa fa-star-half-alt"></i></li>
												</ul>
												<a href="#"><i class="fa fa-share"></i>Reply</a>
											</div>
										</div>
										<p>Lorem Ipsum is simply dummy text of the printing and typesetting istry  Ipsum hsben the standard dummy text ever since.</p>
										<span>2 days ago</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End Property Features -->	
					<!-- Similar Property -->
					<div class="similar-property">
						<h4 class="similar-property-title">Similar Properties You May Like</h4>
						<div class="row">
							<div class="col-12">
								<div class="similar-property-slider">
									<div class="similar-property-main">
										<!-- Single Recent Property -->
										<div class="single-recent-property">
											<div class="single-r-property-top">
												<!-- Recent Property Img -->
												<div class="single-r-property-img">
													<img src="img/recent-property/01.jpg" alt="#">
												</div>
												<div class="property-for-sale">
													<ul class="list-none">
														<li><a href="#">Hot</a></li>
														<li class="active"><a href="#">For Sale</a></li>
													</ul>
												</div>
												<!-- Property Ratting -->
												<div class="property-ratting">
													<div class="property-ratting-left">
														<span class="p-ratting-point">4.5</span>
														<div class="p-ratting-details">
															<ul class="ratting-details-star list-none">
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star-half-alt"></i></li>
															</ul>
															<span>2 Comment</span>
														</div>
													</div>
													<div class="property-ratting-save">
														<a href="#"><i class="fa fa-heart"></i>Save</a>
													</div>
												</div>
											</div>
											<!-- Single Recent Content -->
											<div class="s-property-content">
												<h3 class="srp-title hs-4"><a href="property-details.html">Good Life Property Ltd</a></h3>
												<p class="property-location mb-0"><i class="fa fa-map-marker-alt"></i>301 Falls Blvd, Quincy MA 2169</p>
												<div class="single-r-property-bed">
													<ul class="single-bed-property list-none">
														<li><b>4</b><span><i class="fa fa-bed"></i></span></li>
														<li><b>3</b><span><i class="fa fa-shower"></i></span></li>
														<li><b>1</b><span><i class="fa fa-warehouse"></i></span></li>
													</ul>
												</div>
												<!-- Property User -->
												<div class="property-user">
													<div class="property-user-left">
														<img src="img/recent-property/user-1.png" alt="#">
														<div class="property-user-title">
															<p class="at-title mb-0 hs-6"><a href="#">David Smith</a></p>
															<span>Manager</span>
														</div>
													</div>
													<div class="property-user-price">
														<p>$22,500/m</p>
													</div>
												</div>
											</div>
										</div>
										<!-- End Single Recent Property -->
									</div>
									<div class="similar-property-main">
										<!-- Single Recent Property -->
										<div class="single-recent-property">
											<div class="single-r-property-top">
												<!-- Recent Property Img -->
												<div class="single-r-property-img">
													<img src="img/recent-property/02.jpg" alt="#">
												</div>
												<div class="property-for-sale">
													<ul class="list-none">
														<li><a href="#">Hot</a></li>
														<li class="active"><a href="#">For Sale</a></li>
													</ul>
												</div>
												<!-- Property Ratting -->
												<div class="property-ratting">
													<div class="property-ratting-left">
														<span class="p-ratting-point">3.5</span>
														<div class="p-ratting-details">
															<ul class="ratting-details-star list-none">
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star-half-alt"></i></li>
															</ul>
															<span>3 Comment</span>
														</div>
													</div>
													<div class="property-ratting-save">
														<a href="#"><i class="fa fa-heart"></i>Save</a>
													</div>
												</div>
											</div>
											<!-- Single Recent Content -->
											<div class="s-property-content">
												<h3 class="srp-title hs-4"><a href="property-details.html">Bondon Property Ltd</a></h3>
												<p class="property-location mb-0"><i class="fa fa-map-marker-alt"></i>1421 San Pedro St, Los Angeles</p>
												<div class="single-r-property-bed">
													<ul class="single-bed-property list-none">
														<li><b>5</b><span><i class="fa fa-bed"></i></span></li>
														<li><b>4</b><span><i class="fa fa-shower"></i></span></li>
														<li><b>2</b><span><i class="fa fa-warehouse"></i></span></li>
													</ul>
												</div>
												<!-- Property User -->
												<div class="property-user">
													<div class="property-user-left">
														<img src="img/recent-property/user-2.png" alt="#">
														<div class="property-user-title">
															<p class="at-title mb-0 hs-6"><a href="#">Minhaj Ali</a></p>
															<span>CEO</span>
														</div>
													</div>
													<div class="property-user-price">
														<p>$42,000/m</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="similar-property-main">
										<!-- Single Recent Property -->
										<div class="single-recent-property">
											<div class="single-r-property-top">
												<!-- Recent Property Img -->
												<div class="single-r-property-img">
													<img src="img/recent-property/03.jpg" alt="#">
												</div>
												<div class="property-for-sale">
													<ul class="list-none">
														<li><a href="#">Hot</a></li>
														<li class="active"><a href="#">For Sale</a></li>
													</ul>
												</div>
												<!-- Property Ratting -->
												<div class="property-ratting">
													<div class="property-ratting-left">
														<span class="p-ratting-point">5</span>
														<div class="p-ratting-details">
															<ul class="ratting-details-star list-none">
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
																<li><i class="fa fa-star"></i></li>
															</ul>
															<span>5 Comment</span>
														</div>
													</div>
													<div class="property-ratting-save">
														<a href="#"><i class="fa fa-heart"></i>Save</a>
													</div>
												</div>
											</div>
											<!-- Single Recent Content -->
											<div class="s-property-content">
												<h3 class="srp-title hs-4"><a href="property-details.html">Big House Property Ltd</a></h3>
												<p class="property-location mb-0"><i class="fa fa-map-marker-alt"></i>890 Lio Madris Pt, Blue Town</p>
												<div class="single-r-property-bed">
													<ul class="single-bed-property list-none">
														<li><b>6</b><span><i class="fa fa-bed"></i></span></li>
														<li><b>4</b><span><i class="fa fa-shower"></i></span></li>
														<li><b>3</b><span><i class="fa fa-warehouse"></i></span></li>
													</ul>
												</div>
												<!-- Property User -->
												<div class="property-user">
													<div class="property-user-left">
														<img src="img/recent-property/user-3.png" alt="#">
														<div class="property-user-title">
															<p class="at-title mb-0 hs-6"><a href="#">Canial Brandi</a></p>
															<span>Founder</span>
														</div>
													</div>
													<div class="property-user-price">
														<p>$54,500/m</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- End Single Recent Property -->
								</div>
							</div>
						</div>
					</div>
					<!-- End Similar Property -->
				</div>
				<div class="col-lg-4 l-12">
					<!-- Property Sidebar -->
					<div class="properties-sidebar">
						<!-- Property Sidebar Widget -->
						<div class="properties-s-widget">
							<h4 class="p-sidebar-title">Recently Viewed</h4>
							<div class="r-view-inner">
								<!-- Sidebar Recent View -->
								<div class="single-r-view">
									<img src="img/recent-view/01.png" alt="#">
									<div class="r-view-content">
										<ul class="r-view-ratting list-none">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-half-alt"></i></li>
										</ul>
										<h5 class="r-view-title"><a href="property-details.html">Good Life Property</a></h5>
										<p class="m-0">$1000,000</p>
									</div>
								</div>
								<!-- Sidebar Recent View -->
								<div class="single-r-view">
									<img src="img/recent-view/02.png" alt="#">
									<div class="r-view-content">
										<ul class="r-view-ratting list-none">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-half-alt"></i></li>
										</ul>
										<h5 class="r-view-title"><a href="property-details.html">More Dramma LTD</a></h5>
										<p class="m-0">$700,000</p>
									</div>
								</div>
								<!-- Sidebar Recent View -->
								<div class="single-r-view mb-0">
									<img src="img/recent-view/03.png" alt="#">
									<div class="r-view-content">
										<ul class="r-view-ratting list-none">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star-half-alt"></i></li>
										</ul>
										<h5 class="r-view-title"><a href="property-details.html">VIP Support LTD</a></h5>
										<p class="m-0">$180,000</p>
									</div>
								</div>
								<!-- End Sidebar Recent View -->
							</div>
						</div>
						<!-- Property Sidebar Widget -->
						<div class="properties-s-widget m-b-30">
							<h4 class="p-sidebar-title">Schedule a Tour</h4>
							<form class="p-schedule-tour" method="post" action="#">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="Your Name" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="Phone" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input name="email" type="email" placeholder="Email" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<textarea name="comment" placeholder="Type Message" required="required"></textarea>
										</div>
									</div>
									
									<div class="col-12">
										<div class="schedule-tour-btn">
											<button class="theme-btn">Send Message</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- Property Sidebar Widget -->
						<div class="properties-s-widget">
							<h4 class="p-sidebar-title">Mortgage Calculator</h4>
							<form class="p-schedule-tour m-calculator" method="post" action="#">
								<div class="row">
									<div class="col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="Mortgage Amount (USD)" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="Interest Rate (%)" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="Mortgage Term (Year)" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="Deposit (USD)" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="schedule-tour-btn">
											<button class="theme-btn">Calculate</button>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- End Property Sidebar Widget -->
					</div>
					<!-- End Property Sidebar -->
				</div>
			</div>
		</div>
	</section>
	
	<!-- Footer Area -->
	<footer class="footer-area">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- Footer Inner -->
						<div class="footer-card-inner">
							<div class="row">
								<div class="col-lg-4 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">About Us</h3>
										<p class="mb-0">Corporate leadership skills through installed base niches. Phosfluo rescently onceptualize integrated models whereas multidisciplinary web services offer limited</p>
										<ul class="footer-social list-none">
											<li class="active"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
											<li><a href="#"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Single Widget -->
									<div class="single-f-widget f-services-widget">
										<h3 class="widget_title">Services</h3>
										<ul class="footer-services list-none">
											<li><a href="index.html">Home</a></li>
											<li><a href="about-us.html">About</a></li>
											<li><a href="contact.html">Contact</a></li>
											<li><a href="property-grid.html">Portfolio</a></li>
											<li><a href="blog-list.html">Blog</a></li>
											<li><a href="blog-details.html">News</a></li>
											<li><a href="agents-list.html">Team</a></li>
											<li><a href="property-list.html">Property</a></li>
											<li><a href="login.html">Login</a></li>
											<li><a href="signup.html">Sign Up</a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 col-12">	
									<!-- Single Widget -->
									<div class="single-f-widget">
										<h3 class="widget_title">News Feed</h3>
										<div class="f-news-feed">
											<img src="img/feed-1.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="#"><i class="fa fa-clock"></i>10 June, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">Losing never felt so good energy everything</a></p>
											</div>
										</div>
										<div class="f-news-feed">
											<img src="img/feed-2.png" alt="#">
											<div class="f-news-content">
												<div class="n-feed-meta"><a href="#"><i class="fa fa-clock"></i>4 May, 2021</a></div>
												<p class="footer-n-title m-0"><a href="blog-details.html">5 Essential Steps for Buying an Investment</a></p>
											</div>
										</div>
									</div>
									<!-- End Single Widget -->
								</div>
							</div>
						</div>
						<!-- End Footer Inner -->
					</div>
				</div>
			</div>
		</div>
		<!-- Copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<p class="mb-0">© 2021 <a href="index.html">Immolax</a> By <a href="https://themeforest.net/user/vecuro">Vecuro</a>. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>  
	<!-- End Footer Area -->

	<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>

	<!-- Jquery JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Maginific Popup JS -->
	<script src="js/magnific-popup.min.js"></script>
	<!-- Aos JS -->
	<script src="js/aos.min.js"></script>
	<!-- Cube Portfolio JS -->
	<script src="js/cube-portfolio.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.min.js"></script>
	<!-- Slickslider JS -->
	<script src="js/slickslider.min.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Bx Slider JS -->
	<script src="js/bx-slider.min.js"></script>
	<!-- Nice Select JS -->
	<script src="js/nice-select.min.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.google.com/maps/api/js?key=AIzaSyDGqTyqoPIvYxhn_Sa7ZrK5bENUWhpCo0w"></script>
	<script src="js/gmap.min.js"></script>
	<script src="js/map-script.js"></script>
	<!-- Datepicker JS -->
	<script src="js/datepicker.js"></script>
	<!-- Main JS -->
	<script src="js/active.js"></script>
	
	</body>
</html>