<!DOCTYPE html>
<html class="no-js" lang="ZXX">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="#">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Site Title -->
		<title>Immolax - Real Estate Services HTML5 Template</title>
		
		<!-- Fav Icon -->
		<link rel="icon" href="img/favicon.png">
		
		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Cube Portfolio -->
		<link rel="stylesheet" href="css/cube-portfolio.min.css">
		<!-- Maginific Popup -->
		<link rel="stylesheet" href="css/maginific-popup.min.css">
		<!-- Jquery UI -->
		<link rel="stylesheet" href="css/jquery-ui.min.css">
		<!-- Animate CSS -->
		<link rel="stylesheet" href="css/animate.min.css">
		<!-- Slickslider CSS -->
		<link rel="stylesheet" href="css/slickslider.min.css">
		<!-- Bx Slider CSS -->
		<link rel="stylesheet" href="css/bx-slider.min.css">
		<!-- AOS CSS -->
		<link rel="stylesheet" href="css/aos.min.css">
		<!-- Nice Select -->
		<link rel="stylesheet" href="css/nice-select.min.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="css/datepicker.css">
		<!-- Fontawesome -->
		<link rel="stylesheet" href="css/all.min.css">
		<link rel="stylesheet" href="css/fontawesome.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="css/responsive.css">
		
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->	
		
	</head>

	<body>
	<!--[if IE]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	
	<!-- Preloader -->
    <div class="preloader">
        <div class="loading">
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
            <div class="loader-line"></div>
        </div>
    </div>
    <!-- End Preloader -->
	
	<!-- Signup Area -->
	<section class="login-area">
		<div class="login-area-bg" style="background-image:url('img/login-bg.jpg');"></div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-auto">
					<!-- Signup Inner -->
					<div class="login-inner" data-aos="fade-right" data-aos-delay="200">	
						<a href="index.html"><img src="img/logo.png" alt="#"></a>
						<div class="login-form">
							<h1 class="login-form-title">Sign <span>Up</span></h1>
							<form method="post" action="#" class="login-form-inner">
								<div class="row">
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="First Name" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<input name="name" type="text" placeholder="Last Name" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<input name="email" type="email" placeholder="Email Address" required="required">
										</div>
									</div>
									<div class="col-lg-6 col-12">
										<div class="form-group">
											<input name="password" type="password" placeholder="Password">
										</div>
									</div>
										<div class="col-lg-6 col-12">
										<div class="form-group">
											<input name="password" type="password" placeholder="Re-Type Password">
										</div>
									</div>
									<div class="col-12">
										<div class="login-bottom-content">
											<div class="login-c-left">
												<span><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">I agree with <a href="#">* terms & conditions</a></span>
											</div>
											<div class="login-c-right">
												<p class="m-0">Don’t have an account? <a href="login.html">Login</a></p>
											</div>
										</div>
									</div>
									<div class="col-12">
										<div class="login-form-btn">
											<button class="theme-btn">Sign Up</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- End Signup Inner -->
				</div>
			</div>
		</div>
	</section>
	<!-- End Signup Area -->

	<a href="#" class="scrollToTop"><i class="fa fa-arrow-up"></i></a>

	<!-- Jquery JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-migrate.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Maginific Popup JS -->
	<script src="js/magnific-popup.min.js"></script>
	<!-- Aos JS -->
	<script src="js/aos.min.js"></script>
	<!-- Cube Portfolio JS -->
	<script src="js/cube-portfolio.min.js"></script>
	<!-- Easing JS -->
	<script src="js/easing.min.js"></script>
	<!-- Slickslider JS -->
	<script src="js/slickslider.min.js"></script>
	<!-- Waypoints JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counterup JS -->
	<script src="js/jquery.counterup.min.js"></script>
	<!-- Bx Slider JS -->
	<script src="js/bx-slider.min.js"></script>
	<!-- Nice Select JS -->
	<script src="js/nice-select.min.js"></script>
	<!-- Datepicker JS -->
	<script src="js/datepicker.js"></script>
	<!-- Main JS -->
	<script src="js/active.js"></script>
	
	</body>
</html>